.html
{
	background: #BFBFBF url("../images/new%20year%202014_53.jpg") no-repeat center top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 157px;
	padding-bottom: 343px;
	margin-left: auto;
	margin-right: auto;
}

#u549-3
{
	z-index: 2;
	width: 1160px;
	min-height: 193px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u76
{
	z-index: 5;
	width: 475px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 243px;
}

#menuu82
{
	z-index: 7;
	width: 920px;
	margin-right: -10000px;
	margin-top: 95px;
	left: 20px;
}

#u83
{
	width: 182px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
}

#u84
{
	width: 182px;
}

#u86-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
}

#u84:hover #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u133
{
	width: 182px;
	min-height: 34px;
	margin-right: -10000px;
	left: 184px;
}

#u134
{
	width: 182px;
	padding-bottom: 17px;
}

#u134:hover
{
	margin: 0px;
}

#u135-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u84.MuseMenuActive #u86-4,#u134:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 182px;
	min-height: 34px;
	margin-right: -10000px;
	left: 368px;
}

#u152
{
	width: 182px;
	padding-bottom: 17px;
}

#u134.MuseMenuActive,#u152.MuseMenuActive
{
	margin: 0px;
}

#u155-4
{
	width: 182px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u134.MuseMenuActive #u135-4,#u152:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 183px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 552px;
}

#u168-4
{
	width: 183px;
	min-height: 17px;
	margin-right: -10000px;
}

#u152.MuseMenuActive #u155-4,#u167:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u184
{
	width: 183px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 737px;
}

#u167,#u187
{
	width: 183px;
}

#u190-4
{
	width: 183px;
	min-height: 17px;
	margin-right: -10000px;
}

#u167.MuseMenuActive #u168-4,#u187:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u187.MuseMenuActive #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

