.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 376px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 261px 62px 99px;
}

#u92
{
	z-index: 2;
	width: 600px;
	position: relative;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

