.version.about /* version checker */
{
	color: #0000F4;
	background-color: #BD375F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 238px;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#u2524
{
	z-index: 26;
	height: 109px;
	top: 0px;
}

#u2524-bw
{
	z-index: 26;
}

#u2538
{
	z-index: 52;
	width: 475px;
	top: 36px;
	left: 50%;
	margin-left: -460px;
}

#menuu336
{
	z-index: 27;
	width: 920px;
	top: 78px;
	left: 50%;
	margin-left: -460px;
}

#u344
{
	width: 228px;
	min-height: 20px;
	margin-right: -10000px;
}

#u345
{
	width: 228px;
	padding-bottom: 1px;
}

#u345:hover
{
	margin: 0px;
}

#u348-4
{
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
}

#u345:hover #u348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u378
{
	width: 228px;
	min-height: 20px;
	margin-right: -10000px;
	left: 230px;
}

#u381
{
	width: 228px;
	padding-bottom: 1px;
}

#u345.MuseMenuActive,#u381:hover
{
	margin: 0px;
}

#u383-4
{
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
}

#u345.MuseMenuActive #u348-4,#u381:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2816
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	left: 460px;
}

#u2819
{
	width: 229px;
	padding-bottom: 1px;
}

#u381.MuseMenuActive,#u2819:hover
{
	margin: 0px;
}

#u2821-4
{
	width: 229px;
	min-height: 19px;
	margin-right: -10000px;
}

#u381.MuseMenuActive #u383-4,#u2819:hover #u2821-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u392
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	left: 691px;
}

#u395
{
	width: 229px;
	padding-bottom: 1px;
}

#u2819.MuseMenuActive,#u395:hover
{
	margin: 0px;
}

#u395.MuseMenuActive
{
	margin: 0px;
}

#u397-4
{
	width: 229px;
	min-height: 19px;
	margin-right: -10000px;
}

#u2819.MuseMenuActive #u2821-4,#u395:hover #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u395.MuseMenuActive #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#pu2553
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 110px;
	margin-left: 20px;
}

#u2553
{
	z-index: 2;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#pu2514-13
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 11px;
}

#u2514-13
{
	z-index: 5;
	width: 340px;
	min-height: 228px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u2514-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u2514-11
{
	text-align: right;
}

#u2689-4
{
	z-index: 22;
	width: 222px;
	min-height: 41px;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-top: 81px;
	position: relative;
}

#u2421
{
	z-index: 3;
	width: 559px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u2421_img
{
	padding-right: 1px;
}

#u2515-4
{
	z-index: 18;
	width: 187px;
	min-height: 27px;
	color: #7F7F7F;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 222px;
	left: 149px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

