.version.blog /* version checker */
{
	color: #000011;
	background-color: #13FE01;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 299.17717143592154px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -86px;
	padding-bottom: 37px;
	width: 0.01px;
}

#pu9531
{
	width: 0.01px;
	padding-bottom: 134px;
	margin-left: -100px;
}

#u9531
{
	z-index: 159;
	width: 1588px;
	top: -50px;
	left: 0px;
}

#u9531_img
{
	padding-right: 4px;
}

#u9479
{
	z-index: 161;
	width: 730px;
	height: 34px;
	top: 18px;
	left: 0px;
}

#u9480-4
{
	z-index: 162;
	top: 23px;
	left: 35px;
}

#menuu9481
{
	z-index: 166;
	width: 416px;
	top: 18px;
	left: 314px;
}

#u9489
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u9492
{
	width: 81px;
	padding-bottom: 17px;
}

#u9492:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9494-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492:hover #u9494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9643
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u9646
{
	width: 81px;
	padding-bottom: 17px;
}

#u9492.MuseMenuActive,#u9646:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9646.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9647-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492.MuseMenuActive #u9494-4,#u9646:hover #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9646.MuseMenuActive #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9496
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u9497
{
	width: 82px;
	padding-bottom: 17px;
}

#u9497:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9500-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497:hover #u9500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10068
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u10071
{
	width: 82px;
	padding-bottom: 17px;
}

#u9497.MuseMenuActive,#u10071:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u10072-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497.MuseMenuActive #u9500-4,#u10071:hover #u10072-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9580
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u9581
{
	width: 82px;
	padding-bottom: 17px;
}

#u10071.MuseMenuActive,#u9581:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9581.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9584-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u10071.MuseMenuActive #u10072-4,#u9581:hover #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9581.MuseMenuActive #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu9735
{
	z-index: 2;
	width: 0.01px;
	height: 143px;
	padding-bottom: 2010px;
	left: -121px;
	margin-top: 52px;
	position: relative;
}

#u9743
{
	position: absolute;
	width: 1156px;
	background-color: transparent;
}

#u9743popup
{
	z-index: 3;
}

#u9749
{
	z-index: 4;
	width: 850px;
	height: 1602px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 11px 250px 540px 56px;
}

#u9777-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
}

#u9778
{
	z-index: 9;
	width: 742px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u9778_clip
{
	overflow: hidden;
	width: 742px;
	height: 474px;
}

#u9788-4
{
	z-index: 13;
	width: 742px;
	background-color: transparent;
	color: #8C6239;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-top: 72px;
	position: relative;
}

#u9782
{
	z-index: 11;
	width: 742px;
	background-color: transparent;
	margin-top: 47px;
	position: relative;
}

#u9789-6
{
	z-index: 17;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-top: 65px;
	position: relative;
}

#u9789-2,#u9789-3
{
	line-height: 17px;
	color: #8C6239;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#u9800-9
{
	z-index: 23;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-top: 33px;
	position: relative;
}

#u9800-5,#u9800-6
{
	line-height: 17px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#u9848
{
	z-index: 32;
	width: 903px;
	height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 58px;
	padding-right: 195px;
	padding-bottom: 1685px;
	margin-right: -10000px;
	position: relative;
}

#u9831-4
{
	z-index: 33;
	position: relative;
}

#u9831-4_img
{
	display: block;
	vertical-align: top;
}

#u9866-7
{
	z-index: 37;
	width: 903px;
	min-height: 39px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-top: 49px;
	position: relative;
}

#u9866,#u9866-4
{
	color: #8C6239;
}

#u9867
{
	z-index: 44;
	width: 903px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u9901
{
	z-index: 46;
	width: 882px;
	height: 1782px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 6px 216px 365px 58px;
}

#u10040-4
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
}

#u9911-4
{
	z-index: 47;
	width: 797px;
	min-height: 45px;
	background-color: transparent;
	color: #8C6239;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#pu9912
{
	width: 0.01px;
	margin-top: 8px;
}

#u9912
{
	z-index: 51;
	width: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u9918
{
	z-index: 53;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 377px;
}

#u9924
{
	z-index: 55;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 376px;
}

#u9930
{
	z-index: 57;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 291px;
	left: 674px;
}

#u9936
{
	z-index: 59;
	width: 374px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 285px;
}

#u9942
{
	z-index: 61;
	width: 271px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 514px;
}

#u9948
{
	z-index: 63;
	width: 269px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 719px;
}

#u9954
{
	z-index: 65;
	width: 415px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1007px;
	left: 284px;
}

#u9960
{
	z-index: 67;
	width: 269px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1100px;
}

#u9966
{
	z-index: 69;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 695px;
	left: 674px;
}

#u9972
{
	z-index: 71;
	width: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 674px;
}

#u9978
{
	z-index: 73;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 790px;
}

#u9984
{
	z-index: 75;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1005px;
	left: 711px;
}

#u9990
{
	z-index: 77;
	width: 172px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1242px;
	left: 708px;
}

#u9996
{
	z-index: 79;
	width: 268px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1519px;
}

#u10002
{
	z-index: 81;
	width: 174px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1376px;
	left: 708px;
}

#u10008
{
	z-index: 83;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 805px;
}

#u10014
{
	z-index: 85;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 805px;
}

#u10020
{
	z-index: 87;
	width: 201px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1543px;
	left: 286px;
}

#u10026
{
	z-index: 89;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 802px;
}

#u10026_clip
{
	overflow: hidden;
	width: 78px;
	height: 94px;
}

#u10026_img
{
	margin-top: -9px;
	margin-bottom: -14px;
}

#u10032
{
	z-index: 91;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1543px;
	left: 505px;
}

#u10113
{
	z-index: 97;
	width: 638px;
	height: 1081px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 141px;
	padding-right: 377px;
	padding-bottom: 1072px;
	margin-right: -10000px;
	position: relative;
}

#u10183-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	position: relative;
}

#pu10196
{
	width: 0.01px;
}

#u10196
{
	z-index: 102;
	width: 278px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10202-19
{
	z-index: 104;
	width: 330px;
	min-height: 564px;
	background-color: transparent;
	color: #C69C6D;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u10203
{
	z-index: 123;
	width: 612px;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#u9736
{
	z-index: 125;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 971px;
}

#pu9739
{
	position: absolute;
	width: 0.01px;
	top: -7px;
	left: -10px;
}

#u9739
{
	position: absolute;
	width: 199px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #C7C9ED;
}

#u9740-4
{
	z-index: 128;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #A67C52;
	line-height: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#pu9739:hover #u9740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
	min-height: 20px;
}

#pu9739:hover #u9740-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu9859
{
	position: absolute;
	width: 0.01px;
	top: 33px;
	left: -10px;
}

#u9859
{
	position: absolute;
	width: 199px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #C7C9ED;
}

#u9864-4
{
	z-index: 136;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #A67C52;
	line-height: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#pu9859:hover #u9864-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 9px;
	min-height: 20px;
}

#pu9859.PamphletThumbSelected #u9864-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 10px;
	min-height: 20px;
}

#pu9859:hover #u9864-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu9859 #u9864-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 9px;
}

#pu9907
{
	position: absolute;
	width: 0.01px;
	top: 72px;
	left: -10px;
}

#u9907
{
	position: absolute;
	width: 199px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #C7C9ED;
}

#u9909-4
{
	z-index: 144;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #A67C52;
	line-height: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#pu9907:hover #u9909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
	min-height: 20px;
}

#pu9739.PamphletThumbSelected #u9740-4,#pu9907.PamphletThumbSelected #u9909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 10px;
	min-height: 20px;
}

#pu9907:hover #u9909-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu9739 #u9740-4,#pu9907 #u9909-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#pu10179
{
	position: absolute;
	width: 0.01px;
	top: 111px;
	left: -10px;
}

#u10179
{
	position: absolute;
	width: 199px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #C7C9ED;
}

#pu9739:hover #u9739,#pu9859:hover #u9859,#pu9907:hover #u9907,#pu10179:hover #u10179
{
	width: 199px;
	height: 29px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#pu9739.PamphletThumbSelected #u9739,#pu9859.PamphletThumbSelected #u9859,#pu9907.PamphletThumbSelected #u9907,#pu10179.PamphletThumbSelected #u10179
{
	width: 200px;
	height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C7C9ED;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u10181-4
{
	z-index: 152;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #A67C52;
	line-height: 20px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#pu10179:hover #u10181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
	min-height: 20px;
}

#pu10179.PamphletThumbSelected #u10181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
	min-height: 20px;
}

#pu10179:hover #u10181-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#pu9739.PamphletThumbSelected #u9740-4 p,#pu9859.PamphletThumbSelected #u9864-4 p,#pu9907.PamphletThumbSelected #u9909-4 p,#pu10179.PamphletThumbSelected #u10181-4 p
{
	color: #A67C52;
	visibility: inherit;
	line-height: 1.4;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#pu10179 #u10181-4
{
	position: relative;
	width: 180px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 9px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u9825
{
	z-index: 158;
	height: 38px;
	bottom: -2px;
}

#u9825-bw
{
	z-index: 158;
}

#u10048
{
	z-index: 197;
	width: 225px;
	min-height: 39px;
	bottom: -8px;
	left: 50%;
	margin-left: -580px;
}

#u10050-4
{
	z-index: 198;
	width: 303px;
	min-height: 27px;
	bottom: -1px;
	left: 50%;
	margin-left: 177px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

