.version.blog /* version checker */
{
	color: #0000FD;
	background-color: #A8EF6E;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 299.5437231298365px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -86px;
	padding-bottom: 37px;
	width: 0.01px;
}

#pu9531
{
	width: 0.01px;
	padding-bottom: 134px;
	margin-left: -100px;
}

#u9531
{
	z-index: 68;
	width: 1588px;
	top: -50px;
	left: 0px;
}

#u9531_img
{
	padding-right: 4px;
}

#u9479
{
	z-index: 70;
	width: 730px;
	height: 34px;
	top: 18px;
	left: 0px;
}

#u9480-4
{
	z-index: 71;
	top: 23px;
	left: 35px;
}

#menuu9481
{
	z-index: 75;
	width: 416px;
	top: 18px;
	left: 314px;
}

#u9489
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
}

#u9492
{
	width: 102px;
	padding-bottom: 17px;
}

#u9492:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9494-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492:hover #u9494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9643
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#u9646
{
	width: 102px;
	padding-bottom: 17px;
}

#u9492.MuseMenuActive,#u9646:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9646.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9647-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492.MuseMenuActive #u9494-4,#u9646:hover #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9646.MuseMenuActive #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9496
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u9497
{
	width: 103px;
	padding-bottom: 17px;
}

#u9497:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9500-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497:hover #u9500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9580
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 313px;
}

#u9581
{
	width: 103px;
	padding-bottom: 17px;
}

#u9497.MuseMenuActive,#u9581:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9581.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9584-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497.MuseMenuActive #u9500-4,#u9581:hover #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9581.MuseMenuActive #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#pamphletu9735
{
	z-index: 2;
	width: 0.01px;
	height: 106px;
	padding-bottom: 1583px;
	left: -100px;
	margin-top: 106px;
	position: relative;
}

#u9743
{
	position: absolute;
	width: 963px;
	background-color: transparent;
	left: 219px;
}

#u9743popup
{
	z-index: 3;
}

#u9744
{
	z-index: 4;
	width: 963px;
	height: 1689px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u9745-7
{
	z-index: 5;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u9747
{
	z-index: 10;
	width: 130px;
	background-color: transparent;
}

#u9754
{
	z-index: 15;
	width: 963px;
	height: 1689px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u9755-7
{
	z-index: 16;
	width: 340px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u9745-3,#u9755-3
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u9746,#u9756
{
	float: left;
	margin-right: 17px;
}

#u9757
{
	z-index: 21;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u9747_img,#u9757_img
{
	padding-right: 2px;
	padding-bottom: 1px;
}

#u9745-5,#u9755-5
{
	line-height: 20px;
	color: #999999;
}

#u9749
{
	z-index: 26;
	width: 870px;
	height: 1601px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 12px 57px 76px 36px;
}

#u9777-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
}

#u9778
{
	z-index: 31;
	width: 742px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 37px;
	position: relative;
}

#u9778_img
{
	padding-bottom: 39px;
}

#u9788-4
{
	z-index: 35;
	width: 646px;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 39px;
	position: relative;
}

#u9782
{
	z-index: 33;
	width: 742px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 41px;
	position: relative;
}

#u9789-6
{
	z-index: 39;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 65px;
	position: relative;
}

#u9800-6
{
	z-index: 45;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 33px;
	position: relative;
}

#u9789-2,#u9789-3,#u9800-2,#u9800-3
{
	line-height: 17px;
}

#u9736
{
	z-index: 51;
	width: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u9741
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -7px;
	left: -10px;
}

#u9741:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u9742-4
{
	z-index: 53;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u9741:hover #u9742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u9741.PamphletThumbSelected #u9742-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u9741:hover #u9742-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u9737
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: 32px;
	left: -10px;
}

#u9741.PamphletThumbSelected,#u9737:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u9738-4
{
	z-index: 58;
	width: 180px;
	min-height: 20px;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 9px;
}

#u9737:hover #u9738-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u9737.PamphletThumbSelected #u9738-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 6px -10000px 0px 0px;
}

#u9737:hover #u9738-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u9739
{
	position: absolute;
	width: 199px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	top: 73px;
	left: -10px;
}

#u9737.PamphletThumbSelected,#u9739:hover
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u9739.PamphletThumbSelected
{
	border-color: #999999;
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u9740-4
{
	z-index: 63;
	width: 180px;
	min-height: 20px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u9739:hover #u9740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u9739.PamphletThumbSelected #u9740-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 180px;
	margin: 5px -10000px 0px 0px;
}

#u9739:hover #u9740-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u9741.PamphletThumbSelected #u9742-4 p,#u9737.PamphletThumbSelected #u9738-4 p,#u9739.PamphletThumbSelected #u9740-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u9825
{
	z-index: 67;
	height: 38px;
	bottom: -2px;
}

#u9825-bw
{
	z-index: 67;
}

#u9821
{
	z-index: 100;
	width: 225px;
	min-height: 39px;
	bottom: -10px;
	left: 50%;
	margin-left: -580px;
}

#u9824-7
{
	z-index: 105;
	width: 701px;
	min-height: 34px;
	bottom: -5px;
	left: 50%;
	margin-left: -369px;
}

#u9823-4
{
	z-index: 101;
	width: 148px;
	min-height: 27px;
	bottom: 1px;
	left: 50%;
	margin-left: 332px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

