.version.building_art /* version checker */
{
	color: #0000E1;
	background-color: #D8BC1E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 63px;
}

#pu2524
{
	width: 0.01px;
	margin-left: -100px;
}

#u2524,#u2524-bw
{
	z-index: 2;
	height: 147px;
}

#menuu336
{
	z-index: 3;
	width: 920px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 120px;
}

#u344
{
	width: 228px;
	min-height: 20px;
	margin-right: -10000px;
}

#u345
{
	width: 228px;
	padding-bottom: 1px;
}

#u345:hover
{
	margin: 0px;
}

#u348-4
{
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
}

#u345:hover #u348-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u378
{
	width: 228px;
	min-height: 20px;
	margin-right: -10000px;
	left: 230px;
}

#u381
{
	width: 228px;
	padding-bottom: 1px;
}

#u345.MuseMenuActive,#u381:hover
{
	margin: 0px;
}

#u383-4
{
	width: 228px;
	min-height: 19px;
	margin-right: -10000px;
}

#u345.MuseMenuActive #u348-4,#u381:hover #u383-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u392
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	left: 460px;
}

#u395
{
	width: 229px;
	padding-bottom: 1px;
}

#u381.MuseMenuActive,#u395:hover
{
	margin: 0px;
}

#u397-4
{
	width: 229px;
	min-height: 19px;
	margin-right: -10000px;
}

#u381.MuseMenuActive #u383-4,#u395:hover #u397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u399
{
	width: 229px;
	min-height: 20px;
	margin-right: -10000px;
	left: 691px;
}

#u400
{
	width: 229px;
	padding-bottom: 1px;
}

#u395.MuseMenuActive,#u400:hover
{
	margin: 0px;
}

#u400.MuseMenuActive
{
	margin: 0px;
}

#u403-4
{
	width: 229px;
	min-height: 19px;
	margin-right: -10000px;
}

#u395.MuseMenuActive #u397-4,#u400:hover #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u403-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2538
{
	z-index: 28;
	width: 475px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 343px;
}

#tab-panelu580
{
	z-index: 30;
	width: 922px;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u615
{
	z-index: 31;
	width: 922px;
	position: relative;
}

#u616
{
	z-index: 32;
	width: 308px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u618-4
{
	z-index: 33;
	width: 308px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u624
{
	z-index: 37;
	width: 308px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 307px;
}

#u625-4
{
	z-index: 38;
	width: 308px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u885
{
	z-index: 42;
	width: 308px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 614px;
}

#u616.TabbedPanelsTabSelected,#u624.TabbedPanelsTabSelected,#u885.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin: 0px -10000px 0px 0px;
}

#u887-4
{
	z-index: 43;
	width: 308px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u616.TabbedPanelsTabSelected #u618-4,#u624.TabbedPanelsTabSelected #u625-4,#u885.TabbedPanelsTabSelected #u887-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u616.TabbedPanelsTabSelected #u618-4 p,#u624.TabbedPanelsTabSelected #u625-4 p,#u885.TabbedPanelsTabSelected #u887-4 p
{
	color: #603813;
	visibility: inherit;
}

#u581
{
	z-index: 47;
	width: 922px;
	position: relative;
}

#u582
{
	z-index: 48;
	width: 865px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 40px 24px 353px 33px;
}

#u583-12
{
	z-index: 49;
	width: 865px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#slideshowu1210
{
	z-index: 61;
	width: 0.01px;
	height: 590px;
	margin-left: 1px;
	margin-top: 26px;
	position: relative;
}

#u1211
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -109px;
	left: -81px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1211popup
{
	z-index: 62;
}

#u1378
{
	z-index: 63;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1378_img
{
	padding-left: 27px;
	padding-right: 27px;
}

#u1390
{
	z-index: 65;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1390_img
{
	padding-top: 16px;
	padding-bottom: 17px;
}

#u1404
{
	z-index: 67;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1418
{
	z-index: 69;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1418_img
{
	padding-top: 57px;
	padding-bottom: 57px;
}

#u1246
{
	position: absolute;
	width: 470px;
}

#u1246popup
{
	z-index: 71;
}

#u1381
{
	z-index: 72;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1393
{
	z-index: 74;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1407
{
	z-index: 76;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1421
{
	z-index: 78;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u1259popup
{
	z-index: 80;
}

#u1384-4
{
	z-index: 81;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1396-4
{
	z-index: 85;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1410-4
{
	z-index: 89;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1424-4
{
	z-index: 93;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1226-4popup
{
	z-index: 97;
}

#u1266-4popup
{
	z-index: 101;
}

#u1225-4popup
{
	z-index: 105;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u586
{
	z-index: 109;
	width: 922px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 332px;
	margin-right: -10000px;
	position: relative;
}

#pu946-15
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 33px;
}

#u946-15
{
	z-index: 110;
	width: 844px;
	min-height: 422px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#slideshowu1072
{
	z-index: 125;
	width: 0.01px;
	height: 470px;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
}

#u1073
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -177px;
	left: -65px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1073popup
{
	z-index: 126;
}

#u1309
{
	z-index: 127;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1318
{
	z-index: 129;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1327
{
	z-index: 131;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1336
{
	z-index: 133;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1354
{
	z-index: 135;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1354_img
{
	padding-top: 190px;
	padding-bottom: 190px;
}

#u1108
{
	position: absolute;
	width: 590px;
	left: 1px;
}

#u1108popup
{
	z-index: 137;
}

#u1312
{
	z-index: 138;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1321
{
	z-index: 140;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1330
{
	z-index: 142;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1339
{
	z-index: 144;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u1357
{
	z-index: 146;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 480px;
}

#u1121
{
	position: absolute;
	width: 340px;
	top: 462px;
	left: 156px;
}

#u1121popup
{
	z-index: 148;
}

#u1315-4
{
	z-index: 149;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1324-4
{
	z-index: 153;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1333-4
{
	z-index: 157;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1342-4
{
	z-index: 161;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1360-4
{
	z-index: 165;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1088-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 506px;
}

#u1088-4popup
{
	z-index: 169;
}

#u1128-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 606px;
}

#u1128-4popup
{
	z-index: 173;
}

#u1087-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 536px;
}

#u1087-4popup
{
	z-index: 177;
}

#u1519
{
	z-index: 181;
	width: 853px;
	min-height: 484px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 34px;
}

#u889
{
	z-index: 182;
	width: 922px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 827px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu895
{
	z-index: 195;
	width: 0.01px;
	height: 404px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 33px;
}

#u900
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -109px;
	left: -81px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u900popup
{
	z-index: 196;
}

#u901
{
	z-index: 197;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1027
{
	z-index: 199;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1309_img,#u1327_img,#u1336_img,#u901_img,#u1027_img
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#u1036
{
	z-index: 201;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1036_img
{
	padding-top: 41px;
	padding-bottom: 40px;
}

#u1045
{
	z-index: 203;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1054
{
	z-index: 205;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1063
{
	z-index: 207;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1404_img,#u1318_img,#u1045_img,#u1054_img,#u1063_img
{
	padding-left: 233px;
	padding-right: 233px;
}

#u929
{
	position: absolute;
	width: 470px;
	left: 1px;
}

#u929popup
{
	z-index: 209;
}

#u930
{
	z-index: 210;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1030
{
	z-index: 212;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 120px;
}

#u1039
{
	z-index: 214;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1048
{
	z-index: 216;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 360px;
}

#u1381:hover,#u1393:hover,#u1407:hover,#u1421:hover,#u1312:hover,#u1321:hover,#u1330:hover,#u1339:hover,#u1357:hover,#u930:hover,#u1030:hover,#u1039:hover,#u1048:hover
{
	margin: 0px -10000px 0px 0px;
}

#u1057
{
	z-index: 218;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
}

#u1066
{
	z-index: 220;
	width: 110px;
	height: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 120px;
}

#u1057:hover,#u1066:hover
{
	margin: 120px -10000px 0px 0px;
}

#u1259,#u896
{
	position: absolute;
	width: 340px;
	top: 530px;
	left: 140px;
}

#u896popup
{
	z-index: 222;
}

#u899-4
{
	z-index: 223;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1033-4
{
	z-index: 227;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1042-4
{
	z-index: 231;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1051-4
{
	z-index: 235;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1060-4
{
	z-index: 239;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1069-4
{
	z-index: 243;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1226-4,#u924-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 490px;
}

#u924-4popup
{
	z-index: 247;
}

#u1266-4,#u925-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 590px;
}

#u925-4popup
{
	z-index: 251;
}

#u1225-4,#u936-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 520px;
}

#u936-4popup
{
	z-index: 255;
}

#u894-12
{
	z-index: 183;
	width: 350px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 548px;
}

#u583-2,#u946-2,#u946-3,#u894-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u583-4,#u583-5,#u583-7,#u583-8,#u583-10,#u946-5,#u946-6,#u946-8,#u946-9,#u946-11,#u946-13,#u894-4,#u894-5,#u894-7,#u894-8,#u894-10
{
	line-height: 20px;
	color: #999999;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

