.version.circulum_vite /* version checker */
{
	color: #0000F6;
	background-color: #39E2D2;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu5329
{
	width: 0.01px;
	padding-bottom: 46px;
	margin-right: -10000px;
	margin-top: -23px;
	margin-left: -100px;
}

#u5329
{
	z-index: 87;
	width: 559px;
	height: 46px;
	top: 13px;
	left: 0px;
}

#u2538
{
	z-index: 88;
	width: 486px;
	top: 23px;
	left: 57px;
}

#u2538_img
{
	padding-bottom: 1px;
}

#u3322-53
{
	z-index: 17;
	width: 558px;
	min-height: 206px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
}

#u3322-2
{
	font-size: 24px;
	line-height: 29px;
	color: #C69C6D;
}

#u3322-3
{
	color: #43270C;
}

#u3322-5
{
	font-size: 18px;
	line-height: 22px;
	color: #8C6239;
}

#u3322-12,#u3322-14,#u3322-16,#u3322-18,#u3322-20,#u3322-22,#u3322-27,#u3322-29,#u3322-31,#u3322-33,#u3322-35,#u3322-37,#u3322-39,#u3322-41,#u3322-43,#u3322-45,#u3322-47,#u3322-49
{
	font-size: 16px;
	line-height: 19px;
	color: #43270C;
}

#u7319-17
{
	z-index: 70;
	width: 352px;
	min-height: 332px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 608px;
}

#u3322-10,#u3322-25,#u7319-2
{
	font-size: 18px;
	line-height: 22px;
	color: #754C24;
}

#u7319-4,#u7319-8,#u7319-12
{
	font-size: 18px;
	line-height: 22px;
	color: #C69C6D;
}

#u3322-7,#u3322-8,#u3322-23,#u7319-6,#u7319-10,#u7319-14
{
	font-size: 18px;
	line-height: 22px;
	color: #43270C;
}

#u3322-50,#u3322-51,#u7319-15
{
	color: #C69C6D;
}

#u7352
{
	z-index: 2;
	width: 291px;
	min-height: 39px;
	margin-bottom: -21px;
	margin-right: -10000px;
	margin-top: 698px;
}

#u7372
{
	z-index: 7;
	width: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 688px;
	left: 463px;
}

#u7378
{
	z-index: 13;
	width: 32px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 688px;
	left: 509px;
}

#u7374
{
	z-index: 9;
	width: 32px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 688px;
	left: 554px;
}

#u7372:hover,#u7378:hover,#u7374:hover
{
	margin: 688px -10000px -1px 0px;
}

#u7376
{
	z-index: 11;
	width: 31px;
	margin-right: -10000px;
	margin-top: 687px;
	left: 600px;
}

#u7376:hover
{
	margin: 687px -10000px 0px 0px;
}

#u8078
{
	z-index: 15;
	width: 33px;
	margin-right: -10000px;
	margin-top: 686px;
	left: 665px;
}

#u7366-4
{
	z-index: 3;
	width: 52px;
	min-height: 27px;
	margin-bottom: -13px;
	margin-right: -10000px;
	margin-top: 702px;
	left: 908px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -686px;
}

