.version.circulum_vite /* version checker */
{
	color: #000001;
	background-color: #9D47E0;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu13427
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 504px;
	left: 35px;
}

#u13470
{
	z-index: 3;
	display: block;
	vertical-align: top;
	margin-bottom: -6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 120px;
}

#u3322-81
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 300px;
}

#u13455
{
	z-index: 86;
	width: 1003px;
	height: 147px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1210px;
	left: 37px;
}

.ie #u13427,.ie #u13455
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13326
{
	z-index: 87;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 97;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 87;
	min-height: 138px;
}

#u13320
{
	z-index: 95;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 113;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#u13469-4
{
	z-index: 105;
	width: 346px;
	min-height: 27px;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-top: 1574px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1491px -10000px -7px 654px;
}

#u13338
{
	z-index: 110;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 101;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1491px;
	margin-left: 1000px;
}

#u13243
{
	z-index: 88;
	width: 25px;
}

#u13255
{
	z-index: 90;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 92;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1491px;
}

