.version.circulum_vite /* version checker */
{
	color: #0000F3;
	background-color: #AFEB8F;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 263px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 37px;
	margin-left: auto;
	margin-right: auto;
}

#ppu9531
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -86px;
	margin-left: -100px;
}

#pu9531
{
	width: 0.01px;
	padding-bottom: 134px;
}

#u9531
{
	z-index: 73;
	width: 1588px;
	top: -50px;
	left: 0px;
}

#u9531_img
{
	padding-right: 4px;
}

#u9479
{
	z-index: 75;
	width: 730px;
	height: 34px;
	top: 18px;
	left: 0px;
}

#u9480-4
{
	z-index: 76;
	top: 23px;
	left: 35px;
}

#u9825
{
	z-index: 72;
	height: 38px;
	bottom: -2px;
}

#u9825-bw
{
	z-index: 72;
}

#u10048
{
	z-index: 105;
	width: 225px;
	min-height: 39px;
	bottom: -8px;
	left: 50%;
	margin-left: -580px;
}

#u3322-53
{
	z-index: 2;
	width: 558px;
	min-height: 206px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u3322-2
{
	font-size: 24px;
	line-height: 29px;
	color: #C69C6D;
}

#u3322-3
{
	color: #43270C;
}

#u3322-5
{
	font-size: 18px;
	line-height: 22px;
	color: #8C6239;
}

#u3322-12,#u3322-14,#u3322-16,#u3322-18,#u3322-20,#u3322-22,#u3322-27,#u3322-29,#u3322-31,#u3322-33,#u3322-35,#u3322-37,#u3322-39,#u3322-41,#u3322-43,#u3322-45,#u3322-47,#u3322-49
{
	font-size: 16px;
	line-height: 19px;
	color: #43270C;
}

#pu10051-7
{
	width: 0.01px;
	padding-bottom: 362px;
	margin-right: -10000px;
	margin-top: -18px;
	margin-left: 131px;
}

#u10051-7
{
	z-index: 110;
	width: 701px;
	min-height: 34px;
	bottom: -8px;
	left: 50%;
	margin-left: -349px;
}

#menuu9481
{
	z-index: 80;
	width: 416px;
	top: 18px;
	left: 314px;
}

#u9489
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
}

#u9492
{
	width: 102px;
	padding-bottom: 17px;
}

#u9492:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9494-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492:hover #u9494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9643
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#u9646
{
	width: 102px;
	padding-bottom: 17px;
}

#u9492.MuseMenuActive,#u9646:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9646.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9647-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492.MuseMenuActive #u9494-4,#u9646:hover #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9646.MuseMenuActive #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9496
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u9497
{
	width: 103px;
	padding-bottom: 17px;
}

#u9497:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9500-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497:hover #u9500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9580
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 313px;
}

#u9581
{
	width: 103px;
	padding-bottom: 17px;
}

#u9497.MuseMenuActive,#u9581:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9581.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9584-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497.MuseMenuActive #u9500-4,#u9581:hover #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9581.MuseMenuActive #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u7319-17
{
	z-index: 55;
	width: 352px;
	min-height: 332px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 608px;
}

#u3322-10,#u3322-25,#u7319-2
{
	font-size: 18px;
	line-height: 22px;
	color: #754C24;
}

#u7319-4,#u7319-8,#u7319-12
{
	font-size: 18px;
	line-height: 22px;
	color: #C69C6D;
}

#u3322-7,#u3322-8,#u3322-23,#u7319-6,#u7319-10,#u7319-14
{
	font-size: 18px;
	line-height: 22px;
	color: #43270C;
}

#u3322-50,#u3322-51,#u7319-15
{
	color: #C69C6D;
}

#u10050-4
{
	z-index: 106;
	width: 148px;
	min-height: 27px;
	bottom: -1px;
	left: 50%;
	margin-left: 332px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

