.version.edao /* version checker */
{
	color: #0000E4;
	background-color: #803257;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#slideshowu6403
{
	z-index: 2;
	width: 0.01px;
	height: 2418px;
	left: -100px;
	position: relative;
}

#u6440
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u6440popup
{
	z-index: 3;
}

#u6451
{
	z-index: 4;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6455
{
	z-index: 6;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6497
{
	z-index: 8;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6512
{
	z-index: 10;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6527
{
	z-index: 12;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6417
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 331px;
	top: 442px;
	left: 120px;
}

#u6417::before
{
	box-shadow: none;
}

#u6417popup
{
	z-index: 14;
}

#u6420
{
	z-index: 15;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6420.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6420_clip
{
	overflow: hidden;
	width: 405px;
	height: 321px;
}

#u6420_img
{
	margin-left: -38px;
	margin-right: -38px;
}

#u6428
{
	z-index: 17;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
}

#u6428.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 331px -10000px 0px 0px;
}

#u6501
{
	z-index: 19;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
}

#u6501.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 662px -10000px 0px 0px;
}

#u6516
{
	z-index: 21;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 993px;
}

#u6516.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 993px -10000px 0px 0px;
}

#u6531
{
	z-index: 23;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1324px;
}

#u6531.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 1324px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu8288
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: -100px;
	margin-top: -2404px;
}

#u8288
{
	z-index: 38;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 39;
	top: 20px;
	left: 35px;
}

#menuu8253
{
	z-index: 43;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u8260-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9636
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#u9637
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u9637:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9637.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9638-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u9637:hover #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9637.MuseMenuActive #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u8276
{
	width: 103px;
	padding-bottom: 17px;
}

#u8276:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u8277-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9573
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 313px;
}

#u9574
{
	width: 103px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u9574:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9574.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9577-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u9574:hover #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9574.MuseMenuActive #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9830
{
	z-index: 37;
	height: 38px;
	bottom: 0px;
}

#u9830-bw
{
	z-index: 37;
}

#u7352
{
	z-index: 68;
	width: 225px;
	min-height: 39px;
	bottom: -5px;
	left: 50%;
	margin-left: -580px;
}

#u9376-7
{
	z-index: 73;
	width: 701px;
	min-height: 34px;
	bottom: -2px;
	left: 50%;
	margin-left: -369px;
}

#u7366-4
{
	z-index: 69;
	width: 148px;
	min-height: 27px;
	bottom: 5px;
	left: 50%;
	margin-left: 332px;
}

#u6547-12
{
	z-index: 25;
	width: 418px;
	min-height: 621px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 496px;
	top: -1977px;
	margin-bottom: -621px;
	position: relative;
}

#u6547-2
{
	font-size: 24px;
	line-height: 29px;
	color: #8C6239;
}

#u6547-7,#u6547-8,#u6547-10
{
	font-size: 19px;
	line-height: 27px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

