.version.gc_slide_show /* version checker */
{
	color: #0000F0;
	background-color: #C9084C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 44px;
	padding-bottom: 256px;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu4767
{
	z-index: 2;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 155px;
}

#u4782
{
	position: absolute;
	background-color: transparent;
}

#u4782popup
{
	z-index: 3;
}

#u4785
{
	z-index: 4;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4973
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5000
{
	z-index: 8;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5009
{
	z-index: 10;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5018
{
	z-index: 12;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5036
{
	z-index: 14;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5054
{
	z-index: 16;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5063
{
	z-index: 18;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5081
{
	z-index: 20;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5090
{
	z-index: 22;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5099
{
	z-index: 24;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5117
{
	z-index: 26;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5135
{
	z-index: 28;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5144
{
	z-index: 30;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5153
{
	z-index: 32;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5171
{
	z-index: 34;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5198
{
	z-index: 36;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5207
{
	z-index: 38;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5216
{
	z-index: 40;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5234
{
	z-index: 42;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5243
{
	z-index: 44;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u5252
{
	z-index: 46;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u4768-4
{
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	filter: alpha(opacity=44);
	padding: 15px;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 136px;
	left: 0px;
}

#u4768-4popup
{
	z-index: 48;
}

#u4768
{
	color: #999999;
}

#u4776-4
{
	width: 25px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.44;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=44)";
	filter: alpha(opacity=44);
	padding: 15px;
	text-align: center;
	color: #999999;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: fixed;
	top: 136px;
	right: 0px;
}

#u4768-4:hover,#u4776-4:hover
{
	background-color: #FFFFFF;
	opacity: 0.61;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=61)";
	filter: alpha(opacity=61);
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 20px;
	margin: 0px;
}

#u4776-4popup
{
	z-index: 52;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5261
{
	z-index: 56;
	width: 487px;
	background-color: #C7B299;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: fixed;
	top: 32px;
	left: 26px;
}

#u5261_img
{
	padding: 4px 6px 3px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

