.version.gc /* version checker */
{
	color: #0000F2;
	background-color: #358BE8;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppslideshowu6199
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pslideshowu6199
{
	width: 0.01px;
}

#slideshowu6199
{
	z-index: 21;
	width: 0.01px;
	height: 409px;
	position: relative;
	margin-right: -10000px;
}

#u6201
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u6201popup
{
	z-index: 22;
}

#u6214
{
	z-index: 23;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6278
{
	z-index: 25;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6293
{
	z-index: 27;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6323
{
	z-index: 29;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6338
{
	z-index: 31;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13326
{
	z-index: 33;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 43;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 33;
	min-height: 138px;
}

#u13320
{
	z-index: 41;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 59;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: 30px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	margin-right: -10000px;
	margin-top: 65px;
}

#u6181
{
	z-index: 15;
	width: 435px;
	background-color: transparent;
	margin-bottom: -37px;
	position: relative;
	margin-right: -10000px;
	margin-top: -65px;
	left: 85px;
}

#u6180-12
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#u6183
{
	z-index: 17;
	width: 437px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 83px;
}

#u6183_img
{
	padding-right: 1px;
}

#u6348
{
	z-index: 19;
	width: 437px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 621px;
	left: 83px;
}

#u13469-4
{
	z-index: 51;
	width: 346px;
	min-height: 27px;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-top: 1363px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1281px -10000px -7px 654px;
}

#u13338
{
	z-index: 56;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 47;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1281px;
	margin-left: 1000px;
}

#u13243
{
	z-index: 34;
	width: 25px;
}

#u13255
{
	z-index: 36;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 38;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1280px;
}

