.version.gc /* version checker */
{
	color: #0000E9;
	background-color: #8E37AF;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#slideshowu6199
{
	z-index: 35;
	width: 0.01px;
	height: 409px;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u6201
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u6201popup
{
	z-index: 36;
}

#u6214
{
	z-index: 37;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6278
{
	z-index: 39;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6293
{
	z-index: 41;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6323
{
	z-index: 43;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6338
{
	z-index: 45;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu5329
{
	width: 0.01px;
	padding-bottom: 46px;
	margin-right: -10000px;
	margin-top: -23px;
	margin-left: -100px;
}

#u5329
{
	z-index: 47;
	width: 559px;
	height: 46px;
	top: 13px;
	left: 0px;
}

#u2538
{
	z-index: 48;
	width: 486px;
	top: 23px;
	left: 57px;
}

#u2538_img
{
	padding-bottom: 1px;
}

#pu6181
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 403px;
	margin-left: 18px;
}

#u6181
{
	z-index: 29;
	width: 435px;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u6183
{
	z-index: 31;
	width: 437px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u6183_img
{
	padding-right: 1px;
}

#u6348
{
	z-index: 33;
	width: 437px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u6180-12
{
	z-index: 17;
	width: 418px;
	min-height: 621px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 496px;
}

#u6180-2
{
	font-size: 24px;
	line-height: 29px;
	color: #8C6239;
}

#u6180-7,#u6180-8,#u6180-10
{
	font-size: 19px;
	line-height: 27px;
}

#u7352
{
	z-index: 2;
	width: 291px;
	min-height: 39px;
	margin-bottom: -21px;
	margin-right: -10000px;
	margin-top: 1359px;
}

#u7372
{
	z-index: 7;
	width: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1349px;
	left: 463px;
}

#u7378
{
	z-index: 13;
	width: 32px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1349px;
	left: 509px;
}

#u7374
{
	z-index: 9;
	width: 32px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1349px;
	left: 554px;
}

#u7376
{
	z-index: 11;
	width: 31px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 1349px;
	left: 600px;
}

#u7372:hover,#u7378:hover,#u7374:hover,#u7376:hover
{
	margin: 1349px -10000px -1px 0px;
}

#u8078
{
	z-index: 15;
	width: 33px;
	margin-right: -10000px;
	margin-top: 1348px;
	left: 665px;
}

#u7366-4
{
	z-index: 3;
	width: 52px;
	min-height: 27px;
	margin-bottom: -13px;
	margin-right: -10000px;
	margin-top: 1363px;
	left: 908px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1347px;
}

