.version.hayden_gallery_show /* version checker */
{
	color: #00000E;
	background-color: #47B573;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
	width: 0.01px;
}

#pu13427
{
	width: 0.01px;
	margin-left: -100px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 504px;
	left: 35px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u10422
{
	z-index: 3;
	width: 222px;
	margin-right: -10000px;
	margin-top: 378px;
	left: 929px;
}

#u10424
{
	z-index: 4;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10423-4
{
	z-index: 5;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10425
{
	z-index: 9;
	width: 222px;
	margin-right: -10000px;
	margin-top: 334px;
	left: 929px;
}

#u10426
{
	z-index: 10;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10427-4
{
	z-index: 11;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10428
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 422px;
	left: 929px;
}

#u10430
{
	z-index: 16;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10429-4
{
	z-index: 17;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10431
{
	z-index: 21;
	width: 222px;
	margin-right: -10000px;
	margin-top: 466px;
	left: 929px;
}

#u10433
{
	z-index: 22;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10432-4
{
	z-index: 23;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10756
{
	z-index: 27;
	width: 222px;
	margin-right: -10000px;
	margin-top: 290px;
	left: 929px;
}

#u10757
{
	z-index: 28;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10758-4
{
	z-index: 29;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10847
{
	z-index: 33;
	width: 222px;
	margin-right: -10000px;
	margin-top: 247px;
	left: 929px;
}

#u10849
{
	z-index: 34;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10848-4
{
	z-index: 35;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11022
{
	z-index: 39;
	width: 222px;
	margin-right: -10000px;
	margin-top: 204px;
	left: 929px;
}

#u11023
{
	z-index: 40;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11024-4
{
	z-index: 41;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11176
{
	z-index: 45;
	width: 222px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 929px;
}

#u11178
{
	z-index: 46;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11177-4
{
	z-index: 47;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u12014
{
	z-index: 51;
	width: 222px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 929px;
}

#u12015
{
	z-index: 52;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12016-4
{
	z-index: 53;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11110-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 120px;
}

#u11111-4
{
	z-index: 61;
	width: 638px;
	min-height: 94px;
	background-color: transparent;
	color: #875E35;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 120px;
}

#u11168-4
{
	z-index: 65;
	width: 638px;
	min-height: 94px;
	background-color: transparent;
	color: #875E35;
	position: relative;
	margin-right: -10000px;
	margin-top: 667px;
	left: 120px;
}

#u11162
{
	z-index: 73;
	width: 640px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 244px;
	left: 120px;
}

#u13326
{
	z-index: 77;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 87;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 77;
	min-height: 138px;
}

#u13320
{
	z-index: 85;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 103;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#u11169
{
	z-index: 75;
	width: 638px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u11175-4
{
	z-index: 69;
	width: 638px;
	min-height: 94px;
	background-color: transparent;
	color: #875E35;
	margin-left: 20px;
	margin-top: 21px;
	position: relative;
}

#u11111,#u11168,#u11175
{
	color: #875E35;
}

#ppu13338
{
	width: 0.01px;
	margin-left: 654px;
	margin-top: -35px;
}

#u13338
{
	z-index: 100;
	height: 94px;
	width: 309px;
	margin-bottom: -6px;
	margin-right: -10000px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 346px;
}

#u13243
{
	z-index: 78;
	width: 25px;
}

#u13255
{
	z-index: 80;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 82;
	width: 25px;
	margin-top: 4px;
}

#pu13469-4
{
	width: 0.01px;
	margin-top: -5px;
}

#u13469-4
{
	z-index: 95;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
}

#u13218-4
{
	z-index: 91;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
	left: 654px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

