.html
{
	background: #BFBFBF url("../images/new%20year%202014_220.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu549-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u549-3
{
	z-index: 2;
	width: 1160px;
	min-height: 193px;
	margin-right: -10000px;
}

#u76
{
	z-index: 5;
	width: 475px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 343px;
}

#menuu82
{
	z-index: 7;
	width: 920px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 120px;
}

#u83
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
}

#u84
{
	width: 228px;
}

#u86-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
}

#u84:hover #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u133
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	left: 230px;
}

#u134
{
	width: 228px;
	padding-bottom: 17px;
}

#u134:hover
{
	margin: 0px;
}

#u135-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u84.MuseMenuActive #u86-4,#u134:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 229px;
	min-height: 34px;
	margin-right: -10000px;
	left: 460px;
}

#u152
{
	width: 229px;
	padding-bottom: 17px;
}

#u134.MuseMenuActive,#u152.MuseMenuActive
{
	margin: 0px;
}

#u155-4
{
	width: 229px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u134.MuseMenuActive #u135-4,#u152:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 229px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 691px;
}

#u167
{
	width: 229px;
}

#u168-4
{
	width: 229px;
	min-height: 17px;
	margin-right: -10000px;
}

#u152.MuseMenuActive #u155-4,#u167:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u167.MuseMenuActive #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#ppu552
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 67px;
	position: relative;
}

#pu552
{
	z-index: 32;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u552
{
	z-index: 0;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu553-7
{
	width: 0.01px;
	position: relative;
	left: 17px;
	padding-top: 24px;
	z-index: 2;
	padding-bottom: 15px;
}

#u553-7
{
	z-index: 33;
	width: 413px;
	min-height: 118px;
	color: #603813;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u553-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u557
{
	z-index: 40;
	width: 416px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u557:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	margin: 0px -10000px 0px 0px;
}

#u557_img
{
	padding-right: 1px;
}

#ppu564
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
	position: relative;
}

#pu564
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u564
{
	z-index: 42;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u581
{
	z-index: 46;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	margin-top: 66px;
	position: relative;
}

#pu575
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 504px;
}

#u575
{
	z-index: 44;
	width: 416px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
}

#u587
{
	z-index: 48;
	width: 416px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	margin-top: 58px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

