.version.index /* version checker */
{
	color: #000002;
	background-color: #12EB1C;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -41px;
	width: 0.01px;
}

#slideshowu5286
{
	z-index: 15;
	width: 0.01px;
	height: 409px;
	left: -100px;
	position: relative;
}

#u5292
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u5292popup
{
	z-index: 16;
}

#u5522
{
	z-index: 17;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5369
{
	z-index: 19;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5412
{
	z-index: 21;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5424
{
	z-index: 23;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5436
{
	z-index: 25;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5450
{
	z-index: 27;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu8288
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: -100px;
	margin-top: -395px;
}

#u8288
{
	z-index: 79;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 80;
	top: 20px;
	left: 35px;
}

#menuu8253
{
	z-index: 84;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u8260-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9636
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#u9637
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u9637:hover
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9637.MuseMenuActive
{
	width: 102px;
	min-height: 0px;
	margin: 0px;
}

#u9638-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u9637:hover #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u9637.MuseMenuActive #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u8276
{
	width: 103px;
	padding-bottom: 17px;
}

#u8276:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u8277-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9573
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 313px;
}

#u9574
{
	width: 103px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u9574:hover
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9574.MuseMenuActive
{
	width: 103px;
	min-height: 0px;
	margin: 0px;
}

#u9577-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u9574:hover #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u9574.MuseMenuActive #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#pppu9614-4
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: 76px;
}

#pu9614-4
{
	width: 0.01px;
}

#u9614-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u9615
{
	z-index: 77;
	width: 590px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#pu9391
{
	width: 0.01px;
	margin-top: 73px;
}

#u9391
{
	z-index: 49;
	width: 590px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u9391:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 590px;
	min-height: 0px;
	margin: 73px -10000px 0px 0px;
}

#u9391_clip
{
	overflow: hidden;
	width: 590px;
	height: 292px;
}

#u9391_img
{
	margin: -40px -17px -76px -4px;
}

#u9460-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu9463
{
	z-index: 14;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	margin-left: 744px;
}

#u9463
{
	z-index: 0;
	width: 302px;
	border-color: #43270C;
	background-color: #C7C9ED;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu9397
{
	width: 0.01px;
	padding-bottom: 99.0166666666662px;
	position: relative;
	left: 27px;
	padding-top: 91px;
	z-index: 2;
}

#u9397
{
	z-index: 51;
	width: 254px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u9397:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 254px;
	min-height: 0px;
	margin: 0px;
}

#u9389-4
{
	z-index: 41;
	width: 255px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-top: 1px;
	position: relative;
}

#u9399
{
	z-index: 53;
	width: 253px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 41px;
	position: relative;
}

#u9399:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 253px;
	min-height: 0px;
	margin: 41px 0px 0px 2px;
}

#u9399_img
{
	padding: 10px 19px 11px;
}

#u9390-4
{
	z-index: 45;
	width: 255px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 1px;
	position: relative;
}

#u9462-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 771px;
}

#u9386-4
{
	z-index: 73;
	width: 590px;
	min-height: 36px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	left: -20px;
	margin-top: 7px;
	position: relative;
}

#ppu9421
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: 1px;
}

#ppu9614-4,#pu9421
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u9421
{
	z-index: 55;
	width: 296px;
	background-color: transparent;
	position: relative;
}

#u9421:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 296px;
	min-height: 0px;
	margin: 0px;
}

#u9421_clip
{
	overflow: hidden;
	width: 296px;
	height: 199px;
}

#u9421_img
{
	margin-left: -11px;
	margin-top: -2px;
	margin-bottom: -4px;
}

#u9427-4
{
	z-index: 33;
	width: 220px;
	min-height: 37px;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 32px;
	margin-top: 6px;
	position: relative;
}

#u9428
{
	z-index: 57;
	width: 295px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u9428:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 295px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#u9445
{
	z-index: 59;
	width: 270px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 320px;
}

#u9445:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	width: 270px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u9445_clip
{
	overflow: hidden;
	width: 270px;
	height: 405px;
}

#u9445_img
{
	margin: -73px -70px 3px -374px;
}

#pu9434-4
{
	width: 0.01px;
	margin-left: -31px;
	margin-top: 7px;
}

#u9434-4
{
	z-index: 29;
	width: 307px;
	min-height: 13px;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u9451-4
{
	z-index: 37;
	width: 270px;
	min-height: 35px;
	background-color: transparent;
	color: #A67C52;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 331px;
}

#pu7352
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 64px;
}

#u7352
{
	z-index: 2;
	width: 225px;
	min-height: 39px;
	margin-right: -10000px;
}

#u7366-4
{
	z-index: 3;
	width: 148px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 912px;
}

#u9376-7
{
	z-index: 7;
	width: 701px;
	min-height: 34px;
	margin-right: -10000px;
	left: 211px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

