.version.index /* version checker */
{
	color: #0000FC;
	background-color: #C6208B;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu13427
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 504px;
	left: 35px;
}

#u13349
{
	z-index: 3;
	height: 216px;
}

.ie #u13427,.ie #u13349
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13349-bw
{
	z-index: 3;
	margin-top: 1759px;
	height: 216px;
}

#u13269
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 54px;
}

#u13446
{
	z-index: 6;
	width: 361px;
	min-height: 168px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1088px;
	left: 597px;
}

#u13449
{
	z-index: 7;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1218px;
	left: 206px;
}

#u13453
{
	z-index: 8;
	width: 381px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 685px;
	left: 593px;
}

#u13452-4
{
	z-index: 9;
	width: 255px;
	min-height: 73px;
	background-color: transparent;
	color: #740C10;
	line-height: 36px;
	font-size: 30px;
	font-family: marydale, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 126px;
}

#u13441
{
	z-index: 13;
	width: 362px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13441:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 362px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13454
{
	z-index: 15;
	width: 342px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 806px;
	left: 205px;
}

#u13450-4
{
	z-index: 16;
	width: 235px;
	min-height: 67px;
	background-color: transparent;
	color: #740C10;
	line-height: 36px;
	font-size: 30px;
	font-family: marydale, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 266px;
	left: 107px;
}

#u13438
{
	z-index: 20;
	width: 336px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13438:hover
{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	width: 336px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u13326
{
	z-index: 22;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 32;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 22;
	min-height: 138px;
}

#u13320
{
	z-index: 30;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 48;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#u13367
{
	z-index: 50;
	width: 300px;
	background-color: transparent;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
	position: relative;
	margin-right: -10000px;
	margin-top: 321px;
	left: 227px;
}

#u13387-17
{
	z-index: 52;
	width: 365px;
	min-height: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 343px;
	left: 593px;
}

#u13387-2,#u13387-3
{
	font-size: 28px;
	line-height: 34px;
}

#u13387-5,#u13387-6,#u13387-8,#u13387-9,#u13387-11,#u13387-12,#u13387-14
{
	font-size: 22px;
	line-height: 26px;
}

#u13387-15
{
	line-height: 22px;
}

#u13469-4
{
	z-index: 40;
	width: 346px;
	min-height: 27px;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-top: 1987px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1904px -10000px -7px 654px;
}

#u13338
{
	z-index: 45;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 36;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1904px;
	margin-left: 1000px;
}

#u13243
{
	z-index: 23;
	width: 25px;
}

#u13255
{
	z-index: 25;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 27;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1904px;
}

