.version.loai /* version checker */
{
	color: #0000FD;
	background-color: #8071DD;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppslideshowu6550
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pslideshowu6550
{
	width: 0.01px;
}

#slideshowu6550
{
	z-index: 3;
	width: 0.01px;
	height: 1706px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u6587
{
	position: absolute;
	width: 1160px;
	height: 311px;
	background-color: transparent;
}

#u6587popup
{
	z-index: 4;
}

#u6602
{
	z-index: 5;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6588
{
	z-index: 7;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6642
{
	z-index: 9;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6552
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 39px;
	top: 681px;
	left: 120px;
}

#u6552::before
{
	box-shadow: none;
}

#u6552popup
{
	z-index: 11;
}

#u6557
{
	z-index: 12;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6557.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6563
{
	z-index: 14;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
}

#u6563.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 332px -10000px 0px 0px;
}

#u6646
{
	z-index: 16;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 664px;
}

#u6646.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 664px -10000px 0px 0px;
}

#u6563_clip,#u6646_clip
{
	overflow: hidden;
	width: 405px;
	height: 322px;
}

#u6563_img,#u6646_img
{
	margin-left: -39px;
	margin-right: -39px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13326
{
	z-index: 46;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 56;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 46;
	min-height: 138px;
}

#u13320
{
	z-index: 54;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 72;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -1363px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 63px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6691-27
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 544px;
}

#u6692
{
	z-index: 45;
	width: 405px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u13469-4
{
	z-index: 64;
	width: 346px;
	min-height: 27px;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-top: 1816px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1733px -10000px -7px 654px;
}

#u13338
{
	z-index: 69;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 60;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1733px;
	margin-left: 1000px;
}

#u13243
{
	z-index: 47;
	width: 25px;
}

#u13255
{
	z-index: 49;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 51;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1733px;
}

