.version.loai /* version checker */
{
<<<<<<< HEAD
	color: #0000EC;
	background-color: #2C010A;
=======
	color: #00000F;
	background-color: #BDDFE4;
>>>>>>> origin/master
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#slideshowu6550
{
	z-index: 2;
	width: 0.01px;
	height: 1804px;
	left: -100px;
	position: relative;
}

#u6587
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u6587popup
{
	z-index: 3;
}

#u6602
{
	z-index: 4;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6588
{
	z-index: 6;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6642
{
	z-index: 8;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6552
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 39px;
	top: 779px;
	left: 120px;
}

#u6552::before
{
	box-shadow: none;
}

#u6552popup
{
	z-index: 10;
}

#u6557
{
	z-index: 11;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6557.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6563
{
	z-index: 13;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 332px;
}

#u6563.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 332px -10000px 0px 0px;
}

#u6646
{
	z-index: 15;
	width: 405px;
	height: 322px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 664px;
}

#u6646.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 322px;
	min-height: 0px;
	margin: 664px -10000px 0px 0px;
}

#u6563_clip,#u6646_clip
{
	overflow: hidden;
	width: 405px;
	height: 322px;
}

#u6563_img,#u6646_img
{
	margin-left: -39px;
	margin-right: -39px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu8288
{
	width: 0.01px;
	padding-bottom: 40px;
<<<<<<< HEAD
	margin-right: -10000px;
	margin-top: -22px;
	margin-left: -100px;
=======
	margin-left: -100px;
	margin-top: -1789px;
>>>>>>> origin/master
}

#u8288
{
	z-index: 158;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 159;
	top: 20px;
	left: 35px;
}

<<<<<<< HEAD
#u6692
{
	z-index: 44;
	width: 405px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 20px;
}

=======
>>>>>>> origin/master
#menuu8253
{
	z-index: 163;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u8260-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9636
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u9637
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u9637:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9637.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9638-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u9637:hover #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9637.MuseMenuActive #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u8276
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u8277-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10075
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u10076
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u10076:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u10079-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u10076:hover #u10079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9573
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u9574
{
	width: 82px;
	padding-bottom: 17px;
}

#u10076.MuseMenuActive,#u9574:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9574.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9577-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u10076.MuseMenuActive #u10079-4,#u9574:hover #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9574.MuseMenuActive #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9830
{
	z-index: 45;
	height: 74px;
	bottom: 0px;
}

#u9830-bw
{
	z-index: 45;
}

#u10556
{
	z-index: 87;
	width: 63px;
	min-height: 28px;
	bottom: 42px;
	left: 50%;
	margin-left: -557px;
}

#u7352
{
	z-index: 82;
	width: 225px;
	min-height: 39px;
	bottom: 31px;
	left: 50%;
	margin-left: -491px;
}

#u10103-4
{
	z-index: 83;
	width: 303px;
	min-height: 27px;
	bottom: 41px;
	left: 50%;
	margin-left: 222px;
}

#pu6692
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -1363px;
}

#u6692
{
	z-index: 44;
	width: 405px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6691-27
{
	z-index: 17;
	width: 418px;
	min-height: 621px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#u6691-2
{
	font-size: 24px;
	line-height: 29px;
	color: #8C6239;
}

#u6691-22,#u6691-24
{
	font-size: 19px;
	text-align: right;
	line-height: 27px;
}

#u6691-7,#u6691-9,#u6691-11,#u6691-13,#u6691-15,#u6691-17,#u6691-19,#u6691-21,#u6691-25
{
	font-size: 19px;
	line-height: 27px;
}

<<<<<<< HEAD
#pu9830
{
	width: 0.01px;
	margin: 1815px -10000px -333px -100px;
}

#u9830
{
	z-index: 45;
	min-height: 347.649999999996px;
	padding-bottom: 0px;
}

#u9830_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 11px;
	padding-bottom: 23px;
}

#pu10676-4
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u10676-4
{
	z-index: 46;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#pu10684-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 232px;
}

#u10684-4
{
	z-index: 50;
	width: 170px;
	min-height: 20px;
}

#u10685-4
{
	z-index: 66;
	width: 170px;
	min-height: 20px;
	margin-left: 4px;
	margin-top: 1px;
}

#pu10692-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 464px;
}

#u10692-4
{
	z-index: 54;
	width: 170px;
	min-height: 20px;
}

#u10695-4
{
	z-index: 70;
	width: 170px;
	min-height: 20px;
	margin-left: 8px;
	margin-top: 2px;
}

#u10556
{
	z-index: 199;
	width: 63px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 725px;
}

#u7352
{
	z-index: 194;
	width: 225px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 788px;
}

#pu10686-4
{
	width: 0.01px;
	left: 356px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u10686-4
{
	z-index: 74;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10694-4
{
	z-index: 78;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 236px;
}

#u10678-4
{
	z-index: 110;
	width: 170px;
	min-height: 20px;
	left: 124px;
	top: -2px;
	margin-bottom: -2px;
}

#pu10679-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 2px;
	position: relative;
}

#u10679-4
{
	z-index: 142;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10690-4
{
	z-index: 102;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 232px;
}

#u10696-4
{
	z-index: 58;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 460px;
}

#pu10683-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 3px;
	position: relative;
}

#u10683-4
{
	z-index: 150;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10705-4
{
	z-index: 90;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#u10708-4
{
	z-index: 98;
	width: 170px;
	min-height: 20px;
	left: 592px;
	top: -7px;
	margin-bottom: -7px;
}

#u10706-4
{
	z-index: 94;
	width: 170px;
	min-height: 20px;
	left: 592px;
	margin-top: 1px;
}

#u10697-4
{
	z-index: 154;
	left: 120px;
	margin-top: 16px;
}

#pu10699-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 8px;
	position: relative;
}

#u10699-4
{
	z-index: 114;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10700-4
{
	z-index: 122;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 234px;
}

#u10701-4
{
	z-index: 134;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#pu10703-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 4px;
	position: relative;
}

#u10703-4
{
	z-index: 118;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10704-4
{
	z-index: 126;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 232px;
}

#u10702-4
{
	z-index: 130;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#u10103-4
{
	z-index: 195;
	width: 303px;
	min-height: 27px;
	left: 757px;
	margin-top: 10px;
}

#u9830-bw
{
	z-index: 45;
	min-height: 347.649999999996px;
}

#u10677-4
{
	z-index: 62;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 124px;
}

#u10688-4
{
	z-index: 82;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 356px;
}

#u10693-4
{
	z-index: 86;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 592px;
}

#u10691-4
{
	z-index: 106;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 356px;
}

#u10682-4
{
	z-index: 138;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 51px;
	left: 120px;
}

#u10680-4
{
	z-index: 146;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 115px;
	left: 124px;
}

=======
>>>>>>> origin/master
body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1815px;
}

