#u13080-4
{
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
}

#u13078_clip
{
	overflow: hidden;
}

#u13068-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u13071-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u13072,#u13078,#u13074
{
	background-color: transparent;
	position: relative;
}

#u13076
{
	border-width: 1px;
	border-style: solid;
	border-color: #CACAC8;
	background-color: transparent;
	position: relative;
}

#u13069-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u13070-4
{
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u13068-4:hover,#u13071-4:hover,#u13069-4:hover,#u13070-4:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u13068-2,#u13071-2,#u13069-2,#u13070-2
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u12424
{
	vertical-align: top;
	position: relative;
	background: url("../images/u12424.png") no-repeat 0px 0px;
}

#u12424:hover
{
	background: url("../images/u12424-r.png") no-repeat 0px 0px;
}

