#u12016-4,#u11177-4,#u10427-4,#u10423-4,#u10429-4
{
	background-color: #E8D3C9;
	color: #875E35;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u12014,#u11176,#u11022,#u10847,#u10756,#u10425,#u10422,#u10428,#u10431
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u12015,#u11178,#u11023,#u10849,#u10757,#u10426,#u10424,#u10430,#u10433
{
	background-color: #E8D3C9;
	position: relative;
}

#u11024-4,#u10848-4,#u10758-4,#u10432-4
{
	background-color: #E8D3C9;
	line-height: 17px;
	color: #875E35;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

