#u10607
{
	background-color: transparent;
	position: fixed;
}

#u10665-4,#u10663-4
{
	background-color: transparent;
	color: #A67C52;
	line-height: 16px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u10664,#u10661,#u10658
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10666,#u10662,#u10659
{
	background-color: #C7C9ED;
	position: relative;
}

#u10660-4
{
	background-color: transparent;
	color: #A67C52;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

