#u13326
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #CECDD2;
}

#u13326_align_to_page
{
	position: relative;
}

#u13328-4
{
	background-color: transparent;
	line-height: 28px;
	position: relative;
}

#u13320
{
	vertical-align: top;
	position: relative;
	background: url("../images/u13320.png") no-repeat 0px 0px;
}

#u13320:hover
{
	background: url("../images/u13320-r.png") no-repeat 0px 0px;
}

#u13373
{
	vertical-align: top;
	position: relative;
	background: url("../images/u13373.png") no-repeat 0px 0px;
}

#u13373:hover
{
	background: url("../images/u13373-r.png") no-repeat 0px 0px;
}

#u13469-4
{
	background-color: transparent;
	text-align: left;
	position: relative;
}

#u13338
{
	vertical-align: top;
	position: relative;
	background: url("../images/u13338.png") no-repeat 0px 0px;
}

#u13338:hover
{
	background: url("../images/u13338-r.png") no-repeat 0px 0px;
}

#u13218-4
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u13427,#u13243,#u13255,#u13261
{
	position: relative;
	background-color: transparent;
}

