#u2656
{
	-pie-box-shadow: 0px 8px 8px #B2B2B2;
	-moz-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
}

#u2686,#menuu2657
{
	position: fixed;
}

#u2675
{
	background-color: transparent;
	position: relative;
}

#u2675:hover
{
	border-style: none;
	border-color: transparent;
}

#u2678-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #43270C;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u2675:hover #u2678-4
{
	background-color: transparent;
}

#u2675:hover #u2678-4 p
{
	color: #8C6239;
	visibility: inherit;
}

#u2661
{
	background-color: transparent;
	position: relative;
}

#u2675.MuseMenuActive,#u2661:hover
{
	border-style: none;
	border-color: transparent;
}

#u2662-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #43270C;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u2675.MuseMenuActive #u2678-4,#u2661:hover #u2662-4
{
	background-color: transparent;
}

#u2675.MuseMenuActive #u2678-4 p,#u2661:hover #u2662-4 p
{
	color: #8C6239;
	visibility: inherit;
}

#u2672,#u2658,#u2665
{
	position: relative;
}

#u2666
{
	background-color: transparent;
	position: relative;
}

#u2661.MuseMenuActive,#u2666:hover
{
	border-style: none;
	border-color: transparent;
}

#u2666.MuseMenuActive
{
	border-style: none;
	border-color: transparent;
}

#u2669-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	color: #43270C;
	font-size: 16px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
}

#u2661.MuseMenuActive #u2662-4,#u2666:hover #u2669-4
{
	background-color: transparent;
}

#u2666.MuseMenuActive #u2669-4
{
	background-color: transparent;
}

#u2661.MuseMenuActive #u2662-4 p,#u2666:hover #u2669-4 p
{
	color: #8C6239;
	visibility: inherit;
}

#u2666.MuseMenuActive #u2669-4 p
{
	color: #8C6239;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

