#u5329
{
	border-style: none;
	border-color: transparent;
	background-color: #CACAC8;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	position: fixed;
}

#u2538
{
	background-color: transparent;
	position: fixed;
}

#u7352,#u7372
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7378
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7374
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7376
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7372:hover,#u7378:hover,#u7374:hover,#u7376:hover
{
	background-color: #7F7F7F;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#u8078
{
	background-color: transparent;
	position: relative;
}

#u7366-4
{
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	position: relative;
}

