#u10392
{
	background-color: transparent;
	position: fixed;
}

#u10425,#u10422,#u10428,#u10431
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10426,#u10424,#u10430,#u10433
{
	background-color: #C7C9ED;
	position: relative;
}

#u10427-4,#u10423-4,#u10429-4,#u10432-4
{
	background-color: transparent;
	color: #A67C52;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

