.version.ocean /* version checker */
{
	color: #0000F4;
	background-color: #304A1A;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppslideshowu6845
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pslideshowu6845
{
	width: 0.01px;
}

#slideshowu6845
{
	z-index: 3;
	width: 0.01px;
	height: 1794px;
	position: relative;
	margin-right: -10000px;
}

#u6849
{
	position: absolute;
	width: 1160px;
	height: 409px;
	background-color: transparent;
}

#u6849popup
{
	z-index: 4;
}

#u6903
{
	z-index: 5;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6931
{
	z-index: 7;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6945
{
	z-index: 9;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6959
{
	z-index: 11;
	width: 1160px;
	height: 409px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6863
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	top: 442px;
	left: 120px;
}

#u6863::before
{
	box-shadow: none;
}

#u6863popup
{
	z-index: 13;
}

#u6907
{
	z-index: 14;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6907.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6935
{
	z-index: 16;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
}

#u6935.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 331px -10000px 0px 0px;
}

#u6949
{
	z-index: 18;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
}

#u6949.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 662px -10000px 0px 0px;
}

#u6963
{
	z-index: 20;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 993px;
}

#u6963.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 993px -10000px 0px 0px;
}

#u6907_clip,#u6935_clip,#u6949_clip,#u6963_clip
{
	overflow: hidden;
	width: 405px;
	height: 321px;
}

#u6907_img,#u6935_img,#u6949_img,#u6963_img
{
	margin-left: -38px;
	margin-right: -38px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13326
{
	z-index: 31;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 41;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 31;
	min-height: 138px;
}

#u13320
{
	z-index: 39;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 57;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -1353px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 64px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u6982-9
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 543px;
}

#u13469-4
{
	z-index: 49;
	width: 346px;
	min-height: 27px;
	margin-bottom: -7px;
	margin-right: -10000px;
	margin-top: 1806px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1723px -10000px -7px 654px;
}

#u13338
{
	z-index: 54;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 45;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1723px;
	margin-left: 1000px;
}

#u13243
{
	z-index: 32;
	width: 25px;
}

#u13255
{
	z-index: 34;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 36;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1723px;
}

