.version.ocean /* version checker */
{
	color: #0000E4;
	background-color: #24F149;
}

.html
{
	background-color: #FCFCFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -28px;
	margin-bottom: -5px;
	width: 0.01px;
}

#pu13135-5
{
	width: 0.01px;
}

#u13135-5
{
	z-index: 98;
	margin-right: -10000px;
}

#u13109
{
	z-index: 92;
	width: 50px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 419px;
}

#u13111
{
	z-index: 93;
	width: 50px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u13110-4
{
	z-index: 94;
	width: 45px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#u13106
{
	z-index: 86;
	width: 62px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 595px;
}

#u13107
{
	z-index: 87;
	width: 62px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u13108-4
{
	z-index: 88;
	width: 56px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u13103
{
	z-index: 74;
	width: 86px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 766px;
}

#u13104
{
	z-index: 75;
	width: 86px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u13105-4
{
	z-index: 76;
	width: 78px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 4px;
}

#u13123
{
	z-index: 80;
	width: 37px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 973px;
}

#u13124
{
	z-index: 81;
	width: 37px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u13125-4
{
	z-index: 82;
	width: 33px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#slideshowu6845
{
	z-index: 2;
	width: 0.01px;
	height: 1696px;
	left: -100px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u6849
{
	position: absolute;
	width: 1160px;
	height: 311px;
	background-color: transparent;
}

#u6849popup
{
	z-index: 3;
}

#u6903
{
	z-index: 4;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6931
{
	z-index: 6;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6945
{
	z-index: 8;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6959
{
	z-index: 10;
	width: 1160px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6863
{
	position: absolute;
	width: 405px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 38px;
	top: 344px;
	left: 120px;
}

#u6863::before
{
	box-shadow: none;
}

#u6863popup
{
	z-index: 12;
}

#u6907
{
	z-index: 13;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6907.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6935
{
	z-index: 15;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 331px;
}

#u6935.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 331px -10000px 0px 0px;
}

#u6949
{
	z-index: 17;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 662px;
}

#u6949.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 662px -10000px 0px 0px;
}

#u6963
{
	z-index: 19;
	width: 405px;
	height: 321px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 993px;
}

#u6963.SSSlideLinkSelected
{
	border-color: #FFFFFF;
	width: 405px;
	height: 321px;
	min-height: 0px;
	margin: 993px -10000px 0px 0px;
}

#u6907_clip,#u6935_clip,#u6949_clip,#u6963_clip
{
	overflow: hidden;
	width: 405px;
	height: 321px;
}

#u6907_img,#u6935_img,#u6949_img,#u6963_img
{
	margin-left: -38px;
	margin-right: -38px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u6982-9
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-left: 479px;
	top: -1354px;
	margin-bottom: -767px;
	position: relative;
}

#pu10676-4
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: -97px;
}

#u10676-4
{
	z-index: 30;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10676-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u10692-4
{
	z-index: 34;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 464px;
}

#u10676-4.MuseLinkActive,#u10692-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u10695-4
{
	z-index: 38;
	width: 170px;
	min-height: 20px;
	margin-left: 506px;
	top: -74px;
	margin-bottom: -20px;
}

#u10695-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px -20px 506px;
}

#u10695-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px -20px 506px;
}

#pu10682-4
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: -57px;
}

#u10682-4
{
	z-index: 54;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10692-4.MuseLinkActive,#u10682-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u10694-4
{
	z-index: 42;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 472px;
}

#u10694-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 4px -10000px 0px 0px;
}

#u10694-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 4px -10000px 0px 0px;
}

#pu10678-4
{
	width: 0.01px;
	margin-left: 38px;
	margin-top: -35px;
}

#u10678-4
{
	z-index: 50;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10682-4.MuseLinkActive,#u10678-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u10678-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px -10000px 0px 0px;
}

#u10693-4
{
	z-index: 46;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 468px;
}

#u10693-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 2px -10000px 0px 0px;
}

#u10693-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 2px -10000px 0px 0px;
}

#u10679-4
{
	z-index: 58;
	width: 170px;
	min-height: 20px;
	margin-left: 38px;
	top: -13px;
	margin-bottom: -13px;
}

#u10679-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px -13px 38px;
}

#u10679-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px -13px 38px;
}

#u10680-4
{
	z-index: 62;
	width: 170px;
	min-height: 20px;
	margin-left: 38px;
}

#u10680-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px 0px 38px;
}

#u10680-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 0px 0px 0px 38px;
}

#u10683-4
{
	z-index: 66;
	width: 170px;
	min-height: 20px;
	margin-left: 38px;
	margin-top: 1px;
}

#u10683-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 1px 0px 0px 38px;
}

#u10683-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 170px;
	margin: 1px 0px 0px 38px;
}

#u10103-4
{
	z-index: 70;
	width: 303px;
	min-height: 27px;
	margin-left: 671px;
	top: -8px;
	margin-bottom: -8px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

