.version.oils /* version checker */
{
	color: #0000FE;
	background-color: #0CCAFA;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -22px;
	padding-bottom: 282px;
	width: 0.01px;
}

#pu8288
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-left: -100px;
}

#u8288
{
	z-index: 3;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 4;
	top: 20px;
	left: 35px;
}

#menuu8253
{
	z-index: 8;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u8260-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9636
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u9637
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u9637:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9637.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9638-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u9637:hover #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9637.MuseMenuActive #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u8276
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u8277-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10075
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u10076
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u10076:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u10079-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u10076:hover #u10079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9573
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u9574
{
	width: 82px;
	padding-bottom: 17px;
}

#u10076.MuseMenuActive,#u9574:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9574.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9577-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u10076.MuseMenuActive #u10079-4,#u9574:hover #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9574.MuseMenuActive #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9830
{
	z-index: 2;
	height: 74px;
	bottom: 0px;
}

#u9830-bw
{
	z-index: 2;
}

#u10556
{
	z-index: 44;
	width: 63px;
	min-height: 28px;
	bottom: 42px;
	left: 50%;
	margin-left: -557px;
}

#u7352
{
	z-index: 39;
	width: 225px;
	min-height: 39px;
	bottom: 31px;
	left: 50%;
	margin-left: -491px;
}

#u10103-4
{
	z-index: 40;
	width: 303px;
	min-height: 27px;
	bottom: 41px;
	left: 50%;
	margin-left: 222px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

