.version.paintings /* version checker */
{
	color: #00000E;
	background-color: #3EC54B;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 299.89999999999986px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -13px;
	width: 0.01px;
}

#pu12329-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u12329-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 98px;
}

#u13326
{
	z-index: 238;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 248;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 238;
	min-height: 138px;
}

#u13320
{
	z-index: 246;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 264;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#ppu12404
{
	width: 0.01px;
	margin-left: -3px;
	margin-top: 60px;
}

#pu12404
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 29px;
	margin-left: 715px;
}

#u12404
{
	z-index: 3;
	width: 302px;
	height: 124px;
	margin-right: -10000px;
}

#u12422
{
	z-index: 31;
	width: 262px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 19px;
}

#u12422_states
{
	height: 84px;
	width: 262px;
}

#slideshowu12669
{
	z-index: 94;
	width: 0.01px;
	height: 955px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 4px;
}

#u12687
{
	position: absolute;
	width: 891px;
	height: 1024px;
	border-style: none;
	border-color: transparent;
	background-color: #E4E4ED;
	background-color: rgba(225,226,236,0.9);
	top: -282px;
	left: 78px;
	-pie-background: rgba(225,226,236,0.9);
}

#u12687popup
{
	z-index: 95;
}

#u12728
{
	z-index: 96;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12728_img
{
	margin: 108px -57px 108px -56px;
}

#u12743
{
	z-index: 98;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12743_img
{
	padding: 277px 98px 276px;
}

#u12778
{
	z-index: 100;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12778_img
{
	padding: 8px 73px 9px;
}

#u12787
{
	z-index: 102;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12787_img
{
	padding: 276px 113px 277px 112px;
}

#u12796
{
	z-index: 104;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12805
{
	z-index: 106;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12814
{
	z-index: 108;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12853
{
	z-index: 110;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12853_img
{
	padding-left: 109px;
	padding-right: 108px;
}

#u12862
{
	z-index: 112;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12862_img
{
	padding-left: 87px;
	padding-right: 87px;
}

#u12876
{
	z-index: 114;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12876_img
{
	padding: 154px 128px;
}

#u12713
{
	z-index: 116;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12713_img
{
	padding: 269px 113px 269px 114px;
}

#u12891
{
	z-index: 118;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12906
{
	z-index: 120;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12728_clip,#u12796_clip,#u12805_clip,#u12814_clip,#u12891_clip,#u12906_clip
{
	overflow: hidden;
	width: 847px;
	height: 980px;
}

#u12796_img,#u12805_img,#u12814_img,#u12891_img,#u12906_img
{
	margin: -85px 41px -84px 40px;
}

#u12934
{
	z-index: 122;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12934_img
{
	padding: 208px 284px 208px 285px;
}

#u12833
{
	z-index: 124;
	width: 847px;
	height: 980px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12833_img
{
	padding: 113px 48px 112px 49px;
}

#u12675
{
	position: absolute;
	width: 665px;
}

#u12675popup
{
	z-index: 126;
}

#u12731
{
	z-index: 127;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u12731_img
{
	margin-left: -7px;
	margin-right: -8px;
}

#u12746
{
	z-index: 129;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u12781
{
	z-index: 131;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 450px;
}

#u12731:hover,#u12746:hover,#u12781:hover
{
	background-color: transparent;
	width: 215px;
	height: 183px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12790
{
	z-index: 133;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
}

#u12790_img
{
	margin-left: -26px;
	margin-right: -26px;
}

#u12799
{
	z-index: 135;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 225px;
}

#u12808
{
	z-index: 137;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 450px;
}

#u12790:hover,#u12799:hover,#u12808:hover
{
	background-color: transparent;
	width: 215px;
	height: 183px;
	min-height: 0px;
	margin: 193px -10000px 0px 0px;
}

#u12817
{
	z-index: 139;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
}

#u12856
{
	z-index: 141;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 225px;
}

#u12865
{
	z-index: 143;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 450px;
}

#u12817:hover,#u12856:hover,#u12865:hover
{
	background-color: transparent;
	width: 215px;
	height: 183px;
	min-height: 0px;
	margin: 386px -10000px 0px 0px;
}

#u12879
{
	z-index: 145;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
}

#u12716
{
	z-index: 147;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
	left: 225px;
}

#u12716_img
{
	margin-left: -21px;
	margin-right: -21px;
}

#u12894
{
	z-index: 149;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 579px;
	left: 450px;
}

#u12879:hover,#u12716:hover,#u12894:hover
{
	background-color: transparent;
	width: 215px;
	height: 183px;
	min-height: 0px;
	margin: 579px -10000px 0px 0px;
}

#u12909
{
	z-index: 151;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 772px;
}

#u12937
{
	z-index: 153;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 772px;
	left: 225px;
}

#u12937_img
{
	margin-top: -126px;
	margin-bottom: -127px;
}

#u12836
{
	z-index: 155;
	width: 215px;
	height: 183px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 772px;
	left: 450px;
}

#u12909:hover,#u12937:hover,#u12836:hover
{
	background-color: transparent;
	width: 215px;
	height: 183px;
	min-height: 0px;
	margin: 772px -10000px 0px 0px;
}

#u12731_clip,#u12790_clip,#u12716_clip,#u12937_clip,#u12836_clip
{
	overflow: hidden;
	width: 215px;
	height: 183px;
}

#u12836_img
{
	margin-top: -17px;
	margin-bottom: -16px;
}

#u12670
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 116px;
	left: -79px;
}

#u12670popup
{
	z-index: 157;
}

#u12734-4
{
	z-index: 158;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12749-4
{
	z-index: 162;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12784-4
{
	z-index: 166;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12793-4
{
	z-index: 170;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12802-4
{
	z-index: 174;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12811-4
{
	z-index: 178;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12820-4
{
	z-index: 182;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12859-4
{
	z-index: 186;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12868-4
{
	z-index: 190;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12882-4
{
	z-index: 194;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12719-4
{
	z-index: 198;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12897-4
{
	z-index: 202;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12912-4
{
	z-index: 206;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12940-4
{
	z-index: 210;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12839-4
{
	z-index: 214;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12686-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	top: 138px;
	left: -79px;
}

#u12686-4popup
{
	z-index: 218;
}

#u12684-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	top: 138px;
	left: 21px;
}

#u12684-4popup
{
	z-index: 222;
}

#u12685-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	top: 138px;
	left: -49px;
}

#u12685-4popup
{
	z-index: 226;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u13163-4
{
	z-index: 234;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pu13427
{
	width: 0.01px;
	margin-left: -65px;
	margin-top: -833px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 99px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12406
{
	z-index: 4;
	width: 233px;
	margin-right: -10000px;
	left: 777px;
	padding: 28px 12px 105px 57px;
}

#u12423-4
{
	z-index: 33;
	margin-left: 1px;
}

#u12414
{
	z-index: 22;
	width: 187px;
	margin-left: 1px;
	margin-top: 422px;
}

#u12425
{
	z-index: 40;
	width: 185px;
	margin-top: 467px;
}

#u12425_clip
{
	width: 185px;
	height: 152px;
}

#u12425_img
{
	margin-left: -40px;
	margin-right: -3px;
}

#u12407
{
	z-index: 6;
	width: 186px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 834px;
}

#u12407_states
{
	height: 41px;
	width: 186px;
}

#u12408
{
	z-index: 9;
	width: 186px;
	margin-right: -10000px;
	margin-top: 669px;
	left: 834px;
}

#u12408_states
{
	height: 50px;
	width: 186px;
}

#u12409
{
	z-index: 12;
	width: 186px;
	margin-right: -10000px;
	margin-top: 460px;
	left: 834px;
}

#u12409_states
{
	height: 47px;
	width: 186px;
}

#u12410
{
	z-index: 15;
	width: 186px;
	margin-right: -10000px;
	margin-top: 878px;
	left: 834px;
}

#u12411
{
	z-index: 18;
	width: 186px;
	margin-right: -10000px;
	margin-top: 1086px;
	left: 834px;
}

#u12410_states,#u12411_states
{
	height: 49px;
	width: 186px;
}

#u12412
{
	z-index: 20;
	width: 187px;
	margin-right: -10000px;
	margin-top: 102px;
	left: 834px;
}

#u12416
{
	z-index: 24;
	width: 187px;
	margin-right: -10000px;
	margin-top: 302px;
	left: 834px;
}

#u12418
{
	z-index: 26;
	width: 187px;
	margin-right: -10000px;
	margin-top: 717px;
	left: 833px;
}

#u12418_img
{
	padding: 14px 10px 7px 12px;
}

#u12420
{
	z-index: 28;
	width: 187px;
	margin-right: -10000px;
	margin-top: 926px;
	left: 833px;
}

#u12420_img
{
	padding: 8px 26px 2px 25px;
}

#u12424
{
	z-index: 38;
	width: 185px;
	margin-right: -10000px;
	margin-top: 1287px;
	left: 834px;
}

#u12424_states
{
	height: 36px;
	width: 185px;
}

#slideshowu12576
{
	z-index: 46;
	width: 0.01px;
	height: 398px;
	position: relative;
	margin-right: -10000px;
	margin-top: 917px;
	left: 64px;
}

#u12582
{
	position: absolute;
	width: 998px;
	height: 1538px;
	border-style: none;
	border-color: transparent;
	background-color: #E4E4ED;
	background-color: rgba(225,226,236,0.9);
	top: -1078px;
	left: -2px;
	-pie-background: rgba(225,226,236,0.9);
}

#u12582popup
{
	z-index: 47;
}

#u12618
{
	z-index: 48;
	width: 954px;
	height: 1494px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12618_img
{
	padding: 153px 26px 153px 27px;
}

#u12627
{
	z-index: 50;
	width: 954px;
	height: 1494px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12627_img
{
	margin: 469px -81px 468px;
}

#u12643
{
	z-index: 52;
	width: 954px;
	height: 1494px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12627_clip,#u12643_clip
{
	overflow: hidden;
	width: 954px;
	height: 1494px;
}

#u12643_img
{
	margin: 328px -81px 329px;
}

#u12658
{
	z-index: 54;
	width: 954px;
	height: 1494px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u12658_img
{
	padding: 144px 27px;
}

#u12589
{
	position: absolute;
	width: 651px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 2px;
}

#u12589popup
{
	z-index: 56;
}

#u12621
{
	z-index: 57;
	width: 209px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u12630
{
	z-index: 59;
	width: 209px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u12646
{
	z-index: 61;
	width: 209px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 440px;
}

#u12621:hover,#u12630:hover,#u12646:hover
{
	width: 209px;
	height: 193px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u12646_clip
{
	overflow: hidden;
	width: 209px;
	height: 193px;
}

#u12646_img
{
	margin-left: -24px;
	margin-right: -24px;
}

#u12661
{
	z-index: 63;
	width: 209px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 2px;
}

#u12661:hover
{
	width: 209px;
	height: 193px;
	min-height: 0px;
	margin: 203px -10000px 0px 0px;
}

#u12597
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: -936px;
	left: -77px;
}

#u12597popup
{
	z-index: 65;
}

#u12624-4
{
	z-index: 66;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12633-4
{
	z-index: 70;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12649-4
{
	z-index: 74;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12664-4
{
	z-index: 78;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12577-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	top: -936px;
	left: 273px;
}

#u12577-4popup
{
	z-index: 82;
}

#u12578-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	top: -936px;
	left: 373px;
}

#u12578-4popup
{
	z-index: 86;
}

#u12596-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	top: -936px;
	left: 303px;
}

#u12596-4popup
{
	z-index: 90;
}

#u13162-4
{
	z-index: 230;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 886px;
	left: 62px;
}

#ppu13338
{
	width: 0.01px;
	margin-left: 654px;
	margin-top: -35px;
}

#u13338
{
	z-index: 261;
	height: 94px;
	width: 309px;
	margin-bottom: -6px;
	margin-right: -10000px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 346px;
}

#u13243
{
	z-index: 239;
	width: 25px;
}

#u13255
{
	z-index: 241;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 243;
	width: 25px;
	margin-top: 4px;
}

#pu13469-4
{
	width: 0.01px;
	margin-top: -5px;
}

#u13469-4
{
	z-index: 256;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
}

#u13218-4
{
	z-index: 252;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
	left: 654px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

