.version.people_of_the_palouse /* version checker */
{
	color: #0000F3;
	background-color: #2F1C23;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu11022
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu11022
{
	width: 0.01px;
}

#u11022
{
	z-index: 39;
	width: 222px;
	margin-right: -10000px;
	margin-top: 204px;
	left: 929px;
}

#u11023
{
	z-index: 40;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11024-4
{
	z-index: 41;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11176
{
	z-index: 45;
	width: 222px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 929px;
}

#u11178
{
	z-index: 46;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11177-4
{
	z-index: 47;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u12014
{
	z-index: 51;
	width: 222px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 929px;
}

#u12015
{
	z-index: 52;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12016-4
{
	z-index: 53;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10453-4
{
	z-index: 57;
	width: 680px;
	min-height: 45px;
	background-color: transparent;
	color: #3A3014;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 183px;
	left: 120px;
}

#u10496-4
{
	z-index: 103;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 134px;
	left: 117px;
}

#u13326
{
	z-index: 107;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 117;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 107;
	min-height: 138px;
}

#u13320
{
	z-index: 115;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 133;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -2px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	margin-right: -10000px;
	margin-top: 268px;
}

#u10458
{
	z-index: 65;
	width: 284px;
	background-color: transparent;
	margin-bottom: -43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 361px;
}

#u10460
{
	z-index: 67;
	width: 206px;
	background-color: transparent;
	margin-bottom: -148px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 659px;
}

#u10422
{
	z-index: 3;
	width: 222px;
	margin-right: -10000px;
	margin-top: 142px;
	left: 894px;
}

#u10424
{
	z-index: 4;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10423-4
{
	z-index: 5;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10425
{
	z-index: 9;
	width: 222px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 894px;
}

#u10426
{
	z-index: 10;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10427-4
{
	z-index: 11;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10428
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 186px;
	left: 894px;
}

#u10430
{
	z-index: 16;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10429-4
{
	z-index: 17;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10431
{
	z-index: 21;
	width: 222px;
	margin-right: -10000px;
	margin-top: 230px;
	left: 894px;
}

#u10433
{
	z-index: 22;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10432-4
{
	z-index: 23;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10756
{
	z-index: 27;
	width: 222px;
	margin-right: -10000px;
	margin-top: 54px;
	left: 894px;
}

#u10757
{
	z-index: 28;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10758-4
{
	z-index: 29;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10847
{
	z-index: 33;
	width: 222px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 894px;
}

#u10849
{
	z-index: 34;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10848-4
{
	z-index: 35;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10454
{
	z-index: 61;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 85px;
}

#u10456
{
	z-index: 63;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u10462
{
	z-index: 69;
	width: 282px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 513px;
	left: 362px;
}

#u10464
{
	z-index: 71;
	width: 263px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 375px;
	left: 85px;
}

#u10466
{
	z-index: 73;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 574px;
	left: 85px;
}

#u10468
{
	z-index: 75;
	width: 282px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 883px;
	left: 362px;
}

#u10470
{
	z-index: 77;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 950px;
	left: 84px;
}

#u10472
{
	z-index: 79;
	width: 206px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 695px;
	left: 659px;
}

#u10474
{
	z-index: 81;
	width: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 659px;
}

#u10476
{
	z-index: 83;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
	left: 775px;
}

#u10478
{
	z-index: 85;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1004px;
	left: 659px;
}

#u10478_clip
{
	overflow: hidden;
	width: 205px;
	height: 238px;
}

#u10478_img
{
	margin-top: -19px;
	margin-right: 15px;
	margin-bottom: -16px;
}

#u10480
{
	z-index: 87;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 362px;
}

#u10482
{
	z-index: 89;
	width: 265px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1357px;
	left: 84px;
}

#u10484
{
	z-index: 91;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1418px;
	left: 362px;
}

#u10486
{
	z-index: 93;
	width: 75px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 790px;
}

#u10488
{
	z-index: 95;
	width: 74px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 790px;
}

#u10490
{
	z-index: 97;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1532px;
	left: 84px;
}

#u10492
{
	z-index: 99;
	width: 78px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 787px;
}

#u10492_clip
{
	overflow: hidden;
	width: 78px;
	height: 94px;
}

#u10492_img
{
	margin-top: -9px;
	margin-bottom: -14px;
}

#u10494
{
	z-index: 101;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1254px;
	left: 581px;
}

#u13469-4
{
	z-index: 125;
	width: 346px;
	min-height: 27px;
	margin-bottom: -38px;
	margin-right: -10000px;
	margin-top: 1956px;
}

#ppu13338
{
	width: 0.01px;
	margin: 1873px -10000px -38px 654px;
}

#u13338
{
	z-index: 130;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 121;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin: 1873px -10000px -11px 1000px;
}

#u13243
{
	z-index: 108;
	width: 25px;
}

#u13255
{
	z-index: 110;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 112;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1873px;
}

