.version.people_of_the_palouse /* version checker */
{
	color: #00000E;
	background-color: #055CCC;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu10392
{
	width: 0.01px;
	padding-bottom: 134px;
	margin-right: -10000px;
	margin-top: -86px;
	margin-left: -100px;
}

#u10392
{
	z-index: 189;
	width: 1588px;
	top: -50px;
	left: 0px;
}

#u10392_img
{
	padding-right: 4px;
}

#u8288
{
	z-index: 191;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 192;
	top: 20px;
	left: 35px;
}

#pu10496-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 98px;
	margin-left: 17px;
}

#u10496-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
}

#u10453-4
{
	z-index: 26;
	width: 680px;
	min-height: 45px;
	background-color: transparent;
	color: #8C6239;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 3px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#ppu10454
{
	width: 0.01px;
	margin-left: 2px;
	margin-top: 8px;
}

#pu10454
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10454
{
	z-index: 30;
	width: 263px;
	background-color: transparent;
	position: relative;
}

#u10464
{
	z-index: 40;
	width: 263px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 10px;
	position: relative;
}

#u10466
{
	z-index: 42;
	width: 264px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u10470
{
	z-index: 46;
	width: 264px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u10482
{
	z-index: 58;
	width: 265px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u10490
{
	z-index: 66;
	width: 264px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#ppu10456
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 277px;
}

#pu10456
{
	width: 0.01px;
	margin-left: 1px;
}

#u10456
{
	z-index: 32;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu10492
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 425px;
}

#u10492
{
	z-index: 68;
	width: 78px;
	background-color: transparent;
	position: relative;
}

#u10492_clip
{
	overflow: hidden;
	width: 78px;
	height: 94px;
}

#u10492_img
{
	margin-top: -9px;
	margin-bottom: -14px;
}

#u10488
{
	z-index: 64;
	width: 74px;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 8px;
	position: relative;
}

#u10486
{
	z-index: 62;
	width: 75px;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 12px;
	position: relative;
}

#ppu10458
{
	width: 0.01px;
	margin-top: 11px;
}

#u10458
{
	z-index: 34;
	width: 284px;
	background-color: transparent;
	position: relative;
}

#u10462
{
	z-index: 38;
	width: 282px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u10468
{
	z-index: 44;
	width: 282px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

#pu10460
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 298px;
}

#u10460
{
	z-index: 36;
	width: 206px;
	background-color: transparent;
	position: relative;
}

#pu10474
{
	width: 0.01px;
	margin-top: 7px;
}

#u10474
{
	z-index: 50;
	width: 103px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10476
{
	z-index: 52;
	width: 90px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 116px;
}

#u10472
{
	z-index: 48;
	width: 206px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u10478
{
	z-index: 54;
	width: 205px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
}

#u10478_clip
{
	overflow: hidden;
	width: 205px;
	height: 238px;
}

#u10478_img
{
	margin-top: -19px;
	margin-bottom: -16px;
}

#ppu10480
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 12px;
}

#pu10458,#pu10480
{
	width: 0.01px;
	margin-right: -10000px;
}

#u10480
{
	z-index: 56;
	width: 205px;
	background-color: transparent;
	position: relative;
}

#u10484
{
	z-index: 60;
	width: 205px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u10494
{
	z-index: 70;
	width: 205px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 219px;
}

#menuu8253
{
	z-index: 196;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u8260-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9636
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u9637
{
	width: 81px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u9637:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9637.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9638-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u9637:hover #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9637.MuseMenuActive #u9638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u8276
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u8277-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10075
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u10076
{
	width: 82px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u10076:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u10079-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u10076:hover #u10079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9573
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u9574
{
	width: 82px;
	padding-bottom: 17px;
}

#u10076.MuseMenuActive,#u9574:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9574.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9577-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u10076.MuseMenuActive #u10079-4,#u9574:hover #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9574.MuseMenuActive #u9577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#pu10425
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 101px;
	margin-left: 829px;
}

#u10425
{
	z-index: 8;
	width: 222px;
}

#u10426
{
	z-index: 9;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10427-4
{
	z-index: 10;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10422
{
	z-index: 2;
	width: 222px;
	margin-top: 10px;
}

#u10424
{
	z-index: 3;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10423-4
{
	z-index: 4;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10428
{
	z-index: 14;
	width: 222px;
	margin-top: 10px;
}

#u10430
{
	z-index: 15;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10429-4
{
	z-index: 16;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10431
{
	z-index: 20;
	width: 222px;
	margin-top: 10px;
}

#u10433
{
	z-index: 21;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10432-4
{
	z-index: 22;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#pu9830
{
	width: 0.01px;
	margin: 1956px -10000px -359px -100px;
}

#u9830
{
	z-index: 76;
	min-height: 347.64999999999645px;
	padding-bottom: 0px;
}

#u9830_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 11px;
	padding-bottom: 23px;
}

#pu10676-4
{
	width: 0.01px;
	left: 120px;
	position: relative;
}

#u10676-4
{
	z-index: 77;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#pu10684-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 232px;
}

#u10684-4
{
	z-index: 81;
	width: 170px;
	min-height: 20px;
}

#u10685-4
{
	z-index: 97;
	width: 170px;
	min-height: 20px;
	margin-left: 4px;
	margin-top: 1px;
}

#pu10692-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 464px;
}

#u10692-4
{
	z-index: 85;
	width: 170px;
	min-height: 20px;
}

#u10695-4
{
	z-index: 101;
	width: 170px;
	min-height: 20px;
	margin-left: 8px;
	margin-top: 2px;
}

#u10556
{
	z-index: 232;
	width: 63px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 725px;
}

#u7352
{
	z-index: 227;
	width: 225px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 788px;
}

#pu10686-4
{
	width: 0.01px;
	left: 356px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u10686-4
{
	z-index: 105;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10694-4
{
	z-index: 109;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 236px;
}

#u10678-4
{
	z-index: 141;
	width: 170px;
	min-height: 20px;
	left: 124px;
	top: -2px;
	margin-bottom: -2px;
}

#pu10679-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 2px;
	position: relative;
}

#u10679-4
{
	z-index: 173;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10690-4
{
	z-index: 133;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 232px;
}

#u10696-4
{
	z-index: 89;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 460px;
}

#pu10683-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 3px;
	position: relative;
}

#u10683-4
{
	z-index: 181;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u10705-4
{
	z-index: 121;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#u10708-4
{
	z-index: 129;
	width: 170px;
	min-height: 20px;
	left: 592px;
	top: -7px;
	margin-bottom: -7px;
}

#u10706-4
{
	z-index: 125;
	width: 170px;
	min-height: 20px;
	left: 592px;
	margin-top: 1px;
}

#u10697-4
{
	z-index: 185;
	left: 120px;
	margin-top: 16px;
}

#pu10699-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 8px;
	position: relative;
}

#u10699-4
{
	z-index: 145;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10700-4
{
	z-index: 153;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 234px;
}

#u10701-4
{
	z-index: 165;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#pu10703-4
{
	width: 0.01px;
	left: 124px;
	margin-top: 4px;
	position: relative;
}

#u10703-4
{
	z-index: 149;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
}

#u10704-4
{
	z-index: 157;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 232px;
}

#u10702-4
{
	z-index: 161;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	left: 468px;
}

#u10103-4
{
	z-index: 228;
	width: 303px;
	min-height: 27px;
	left: 757px;
	margin-top: 10px;
}

#u9830-bw
{
	z-index: 76;
	min-height: 347.64999999999645px;
}

#u10677-4
{
	z-index: 93;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 30px;
	left: 124px;
}

#u10688-4
{
	z-index: 113;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 72px;
	left: 356px;
}

#u10693-4
{
	z-index: 117;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 74px;
	left: 592px;
}

#u10691-4
{
	z-index: 137;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 356px;
}

#u10682-4
{
	z-index: 169;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 120px;
}

#u10680-4
{
	z-index: 177;
	width: 170px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 114px;
	left: 124px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1955px;
}

