.version.recent_works /* version checker */
{
	color: #0000F7;
	background-color: #3FF3F2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 263px;
	padding-bottom: 37px;
	margin-left: auto;
	margin-right: auto;
}

#pu2656
{
	width: 0.01px;
	padding-bottom: 73px;
	margin-right: -10000px;
	margin-top: -37px;
	margin-left: -100px;
}

#u2656
{
	z-index: 231;
	height: 73px;
	top: -1px;
}

#u2656-bw
{
	z-index: 231;
}

#u2686
{
	z-index: 251;
	width: 380px;
	top: 26px;
	left: 50%;
	margin-left: -481px;
}

#tab-panelu580
{
	z-index: 2;
	width: 1012px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 10px;
}

#u615
{
	z-index: 3;
	width: 1012px;
	position: relative;
}

#u616
{
	z-index: 4;
	width: 338px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u618-4
{
	z-index: 5;
	width: 338px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u624
{
	z-index: 9;
	width: 338px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 337px;
}

#u625-4
{
	z-index: 10;
	width: 338px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u885
{
	z-index: 14;
	width: 338px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 674px;
}

#u616.TabbedPanelsTabSelected,#u624.TabbedPanelsTabSelected,#u885.TabbedPanelsTabSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	margin: 0px -10000px 0px 0px;
}

#u887-4
{
	z-index: 15;
	width: 338px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	color: #603813;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u616.TabbedPanelsTabSelected #u618-4,#u624.TabbedPanelsTabSelected #u625-4,#u885.TabbedPanelsTabSelected #u887-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u616.TabbedPanelsTabSelected #u618-4 p,#u624.TabbedPanelsTabSelected #u625-4 p,#u885.TabbedPanelsTabSelected #u887-4 p
{
	color: #603813;
	visibility: inherit;
}

#u581
{
	z-index: 19;
	width: 1012px;
	position: relative;
}

#u582
{
	z-index: 20;
	width: 1012px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 270px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1210
{
	z-index: 33;
	width: 0.01px;
	height: 260px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 43px;
}

#u1211
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: 168px;
	left: -80px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1211popup
{
	z-index: 34;
}

#u1378
{
	z-index: 35;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1378_img
{
	padding-left: 27px;
	padding-right: 27px;
}

#u1390
{
	z-index: 37;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1390_img
{
	padding-top: 16px;
	padding-bottom: 17px;
}

#u1404
{
	z-index: 39;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1418
{
	z-index: 41;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1418_img
{
	padding-top: 57px;
	padding-bottom: 57px;
}

#u1246
{
	position: absolute;
	width: 886px;
}

#u1246popup
{
	z-index: 43;
}

#u1381
{
	z-index: 44;
	width: 214px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1393
{
	z-index: 46;
	width: 214px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 224px;
}

#u1407
{
	z-index: 48;
	width: 214px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 448px;
}

#u1421
{
	z-index: 50;
	width: 214px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 672px;
}

#u1259
{
	position: absolute;
	width: 340px;
	top: 807px;
	left: 141px;
}

#u1259popup
{
	z-index: 52;
}

#u1384-4
{
	z-index: 53;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1396-4
{
	z-index: 57;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1410-4
{
	z-index: 61;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1424-4
{
	z-index: 65;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1226-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 807px;
	left: 491px;
}

#u1226-4popup
{
	z-index: 69;
}

#u1266-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 807px;
	left: 591px;
}

#u1266-4popup
{
	z-index: 73;
}

#u1225-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 807px;
	left: 521px;
}

#u1225-4popup
{
	z-index: 77;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u583-12
{
	z-index: 21;
	width: 865px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 43px;
}

#u586
{
	z-index: 81;
	width: 1012px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 50px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu1072
{
	z-index: 97;
	width: 0.01px;
	height: 203px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 43px;
}

#u1073
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -147px;
	left: -65px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1073popup
{
	z-index: 98;
}

#u1309
{
	z-index: 99;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1318
{
	z-index: 101;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1327
{
	z-index: 103;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1336
{
	z-index: 105;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1354
{
	z-index: 107;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1354_img
{
	padding-top: 190px;
	padding-bottom: 190px;
}

#u1108
{
	position: absolute;
	width: 885px;
	left: 1px;
}

#u1108popup
{
	z-index: 109;
}

#u1312
{
	z-index: 110;
	width: 169px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1321
{
	z-index: 112;
	width: 169px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 179px;
}

#u1330
{
	z-index: 114;
	width: 169px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u1339
{
	z-index: 116;
	width: 169px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 537px;
}

#u1357
{
	z-index: 118;
	width: 169px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 716px;
}

#u1121
{
	position: absolute;
	width: 340px;
	top: 492px;
	left: 156px;
}

#u1121popup
{
	z-index: 120;
}

#u1315-4
{
	z-index: 121;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1324-4
{
	z-index: 125;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1333-4
{
	z-index: 129;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1342-4
{
	z-index: 133;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1360-4
{
	z-index: 137;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1088-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 492px;
	left: 506px;
}

#u1088-4popup
{
	z-index: 141;
}

#u1128-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 492px;
	left: 606px;
}

#u1128-4popup
{
	z-index: 145;
}

#u1087-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 492px;
	left: 536px;
}

#u1087-4popup
{
	z-index: 149;
}

#u946-15
{
	z-index: 82;
	width: 308px;
	min-height: 284px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 48px;
}

#u2772
{
	z-index: 153;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 370px;
}

#u889
{
	z-index: 154;
	width: 1012px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 430px;
	margin-right: -10000px;
	position: relative;
}

#slideshowu895
{
	z-index: 167;
	width: 0.01px;
	height: 180px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 43px;
}

#u900
{
	position: absolute;
	width: 921px;
	height: 679px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -109px;
	left: -91px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u900popup
{
	z-index: 168;
}

#u901
{
	z-index: 169;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1027
{
	z-index: 171;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1309_img,#u1327_img,#u1336_img,#u901_img,#u1027_img
{
	padding-top: 16px;
	padding-bottom: 16px;
}

#u1036
{
	z-index: 173;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1036_img
{
	padding-top: 41px;
	padding-bottom: 40px;
}

#u1045
{
	z-index: 175;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1054
{
	z-index: 177;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1063
{
	z-index: 179;
	width: 877px;
	height: 617px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1404_img,#u1318_img,#u1045_img,#u1054_img,#u1063_img
{
	padding-left: 233px;
	padding-right: 233px;
}

#u929
{
	position: absolute;
	width: 884px;
	left: 1px;
}

#u929popup
{
	z-index: 181;
}

#u930
{
	z-index: 182;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1030
{
	z-index: 184;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#u1039
{
	z-index: 186;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u1048
{
	z-index: 188;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 447px;
}

#u1057
{
	z-index: 190;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 596px;
}

#u1066
{
	z-index: 192;
	width: 139px;
	height: 145px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 745px;
}

#u1381:hover,#u1393:hover,#u1407:hover,#u1421:hover,#u1312:hover,#u1321:hover,#u1330:hover,#u1339:hover,#u1357:hover,#u930:hover,#u1030:hover,#u1039:hover,#u1048:hover,#u1057:hover,#u1066:hover
{
	margin: 0px -10000px 0px 0px;
}

#u896
{
	position: absolute;
	width: 340px;
	top: 530px;
	left: 130px;
}

#u896popup
{
	z-index: 194;
}

#u899-4
{
	z-index: 195;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1033-4
{
	z-index: 199;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1042-4
{
	z-index: 203;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1051-4
{
	z-index: 207;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1060-4
{
	z-index: 211;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u1069-4
{
	z-index: 215;
	width: 340px;
	min-height: 22px;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u924-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 480px;
}

#u924-4popup
{
	z-index: 219;
}

#u925-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 580px;
}

#u925-4popup
{
	z-index: 223;
}

#u936-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	text-align: center;
	color: #FFFFFF;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 530px;
	left: 510px;
}

#u936-4popup
{
	z-index: 227;
}

#u894-12
{
	z-index: 155;
	width: 887px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	left: 43px;
}

#u583-2,#u946-2,#u946-3,#u894-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u583-4,#u583-5,#u583-7,#u583-8,#u583-10,#u946-5,#u946-6,#u946-8,#u946-9,#u946-11,#u946-13,#u894-4,#u894-5,#u894-7,#u894-8,#u894-10
{
	line-height: 20px;
	color: #999999;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.TabbedPanelsTab /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu2657
{
	z-index: 232;
	width: 622px;
	top: 30px;
	left: 50%;
	margin-left: -95px;
}

#u2672
{
	width: 206px;
	min-height: 20px;
	margin-right: -10000px;
}

#u2675
{
	width: 206px;
	padding-bottom: 1px;
}

#u2675:hover
{
	margin: 0px;
}

#u2678-4
{
	width: 206px;
	min-height: 19px;
	margin-right: -10000px;
}

#u2675:hover #u2678-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2658
{
	width: 206px;
	min-height: 20px;
	margin-right: -10000px;
	left: 208px;
}

#u2661
{
	width: 206px;
	padding-bottom: 1px;
}

#u2675.MuseMenuActive,#u2661:hover
{
	margin: 0px;
}

#u2662-4
{
	width: 206px;
	min-height: 19px;
	margin-right: -10000px;
}

#u2675.MuseMenuActive #u2678-4,#u2661:hover #u2662-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2665
{
	width: 206px;
	min-height: 20px;
	margin-right: -10000px;
	left: 416px;
}

#u2666
{
	width: 206px;
	padding-bottom: 1px;
}

#u2661.MuseMenuActive,#u2666:hover
{
	margin: 0px;
}

#u2666.MuseMenuActive
{
	margin: 0px;
}

#u2669-4
{
	width: 206px;
	min-height: 19px;
	margin-right: -10000px;
}

#u2661.MuseMenuActive #u2662-4,#u2666:hover #u2669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u2666.MuseMenuActive #u2669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

