.version.shop /* version checker */
{
	color: #000011;
	background-color: #FB7811;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 263px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 37px;
	margin-left: auto;
	margin-right: auto;
}

#ppu9531
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -86px;
	margin-left: -100px;
}

#pu9531
{
	width: 0.01px;
	padding-bottom: 134px;
}

#u9531
{
	z-index: 12;
	width: 1588px;
	top: -50px;
	left: 0px;
}

#u9531_img
{
	padding-right: 4px;
}

#u9479
{
	z-index: 14;
	width: 730px;
	height: 34px;
	top: 18px;
	left: 0px;
}

#u9480-4
{
	z-index: 15;
	top: 23px;
	left: 35px;
}

#u10564
{
	z-index: 50;
	height: 74px;
	bottom: 0px;
}

#u10564-bw
{
	z-index: 50;
}

#u10568
{
	z-index: 56;
	width: 63px;
	min-height: 28px;
	bottom: 42px;
	left: 50%;
	margin-left: -557px;
}

#u10565
{
	z-index: 51;
	width: 225px;
	min-height: 39px;
	bottom: 31px;
	left: 50%;
	margin-left: -491px;
}

#pu10576-6
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 76px;
	margin-left: 20px;
}

#u10576-6
{
	z-index: 6;
	width: 409px;
	min-height: 50px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
}

#u10576
{
	color: #C69C6D;
}

#u9802
{
	z-index: 2;
	width: 737px;
	min-height: 739px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 23px;
	position: relative;
}

#pmenuu9481
{
	width: 0.01px;
	padding-bottom: 313px;
	margin-right: -10000px;
	margin-top: -18px;
	margin-left: 214px;
}

#menuu9481
{
	z-index: 19;
	width: 416px;
	top: 18px;
	left: 314px;
}

#u9489
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
}

#u9492
{
	width: 81px;
	padding-bottom: 17px;
}

#u9492:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9494-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492:hover #u9494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9643
{
	width: 81px;
	min-height: 34px;
	margin-right: -10000px;
	left: 83px;
}

#u9646
{
	width: 81px;
	padding-bottom: 17px;
}

#u9492.MuseMenuActive,#u9646:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9646.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u9647-4
{
	width: 81px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9492.MuseMenuActive #u9494-4,#u9646:hover #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9646.MuseMenuActive #u9647-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 81px;
	margin: 0px -10000px 0px 0px;
}

#u9496
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 166px;
}

#u9497
{
	width: 82px;
	padding-bottom: 17px;
}

#u9497:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9500-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497:hover #u9500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10068
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 250px;
}

#u10071
{
	width: 82px;
	padding-bottom: 17px;
}

#u9497.MuseMenuActive,#u10071:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u10072-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u9497.MuseMenuActive #u9500-4,#u10071:hover #u10072-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9580
{
	width: 82px;
	min-height: 34px;
	margin-right: -10000px;
	left: 334px;
}

#u9581
{
	width: 82px;
	padding-bottom: 17px;
}

#u10071.MuseMenuActive,#u9581:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9581.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u9584-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u10071.MuseMenuActive #u10072-4,#u9581:hover #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u9581.MuseMenuActive #u9584-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u10567-4
{
	z-index: 52;
	width: 303px;
	min-height: 27px;
	bottom: 41px;
	left: 50%;
	margin-left: 222px;
}

#pu9807
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 780px;
}

#u9807
{
	z-index: 5;
	width: 167px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	position: relative;
}

#u9806
{
	z-index: 4;
	width: 167px;
	min-height: 156px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 30px;
	position: relative;
}

#u9804
{
	z-index: 3;
	width: 199px;
	min-height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

