.version.shop /* version checker */
{
	color: #0000F9;
	background-color: #60C527;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu9807
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu9807
{
	width: 0.01px;
}

#u9807
{
	z-index: 6;
	width: 167px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
	left: 882px;
}

#u10576-6
{
	z-index: 7;
	width: 409px;
	min-height: 50px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 120px;
}

#u10576
{
	color: #C69C6D;
}

#u13326
{
	z-index: 14;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 24;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 14;
	min-height: 138px;
}

#u13320
{
	z-index: 22;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 40;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -7px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	padding-bottom: 12px;
	margin-right: -10000px;
	margin-top: 319px;
}

#u9804
{
	z-index: 4;
	width: 199px;
	min-height: 289px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -113px;
	left: 845px;
}

#u9802
{
	z-index: 3;
	width: 737px;
	min-height: 739px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u9806
{
	z-index: 5;
	width: 167px;
	min-height: 156px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 846px;
}

#u10802
{
	z-index: 13;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 905px;
}

#u13469-4
{
	z-index: 32;
	width: 346px;
	min-height: 27px;
	margin-bottom: -38px;
	margin-right: -10000px;
	margin-top: 936px;
}

#ppu13338
{
	width: 0.01px;
	margin: 853px -10000px -38px 654px;
}

#u13338
{
	z-index: 37;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 28;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin: 853px -10000px -11px 1000px;
}

#u13243
{
	z-index: 15;
	width: 25px;
}

#u13255
{
	z-index: 17;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 19;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -853px;
}

