.version.the_blossom_and_the_bee /* version checker */
{
	color: #0000EB;
	background-color: #E7985A;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 299.9749999999997px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -38px;
	width: 0.01px;
}

#pu11176
{
	width: 0.01px;
	margin-left: -100px;
}

#u11176
{
	z-index: 45;
	width: 222px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 929px;
}

#u11178
{
	z-index: 46;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11177-4
{
	z-index: 47;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u12014
{
	z-index: 51;
	width: 222px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 929px;
}

#u12015
{
	z-index: 52;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12016-4
{
	z-index: 53;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10304-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 120px;
}

#u13326
{
	z-index: 84;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 94;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 84;
	min-height: 138px;
}

#u13320
{
	z-index: 92;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 110;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: -65px;
	margin-top: 10px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 300px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u10422
{
	z-index: 3;
	width: 222px;
	margin-right: -10000px;
	margin-top: 174px;
	left: 894px;
}

#u10424
{
	z-index: 4;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10423-4
{
	z-index: 5;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10425
{
	z-index: 9;
	width: 222px;
	margin-right: -10000px;
	margin-top: 130px;
	left: 894px;
}

#u10426
{
	z-index: 10;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10427-4
{
	z-index: 11;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10428
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 894px;
}

#u10430
{
	z-index: 16;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10429-4
{
	z-index: 17;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10431
{
	z-index: 21;
	width: 222px;
	margin-right: -10000px;
	margin-top: 262px;
	left: 894px;
}

#u10433
{
	z-index: 22;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10432-4
{
	z-index: 23;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10756
{
	z-index: 27;
	width: 222px;
	margin-right: -10000px;
	margin-top: 86px;
	left: 894px;
}

#u10757
{
	z-index: 28;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10758-4
{
	z-index: 29;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10847
{
	z-index: 33;
	width: 222px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 894px;
}

#u10849
{
	z-index: 34;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10848-4
{
	z-index: 35;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11022
{
	z-index: 39;
	width: 222px;
	margin-right: -10000px;
	left: 894px;
}

#u11023
{
	z-index: 40;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11024-4
{
	z-index: 41;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10305
{
	z-index: 61;
	width: 742px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 85px;
}

#u10305_clip
{
	overflow: hidden;
	width: 742px;
	height: 474px;
}

#u10309-4
{
	z-index: 65;
	width: 742px;
	background-color: transparent;
	color: #3A3014;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	margin-left: 20px;
	margin-top: 71px;
	position: relative;
}

#u10307
{
	z-index: 63;
	width: 742px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 47px;
	position: relative;
}

#u10310-6
{
	z-index: 69;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 65px;
	position: relative;
}

#u10310-2,#u10310-3
{
	line-height: 17px;
	color: #3A3014;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#u10311-9
{
	z-index: 75;
	width: 850px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 33px;
	position: relative;
}

#u10311-5,#u10311-6
{
	line-height: 17px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
}

#ppu13338
{
	width: 0.01px;
	margin-left: 654px;
	margin-top: -35px;
}

#u13338
{
	z-index: 107;
	height: 94px;
	width: 309px;
	margin-bottom: -6px;
	margin-right: -10000px;
}

#pu13243
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 346px;
}

#u13243
{
	z-index: 85;
	width: 25px;
}

#u13255
{
	z-index: 87;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 89;
	width: 25px;
	margin-top: 4px;
}

#pu13469-4
{
	width: 0.01px;
	margin-top: -5px;
}

#u13469-4
{
	z-index: 102;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
}

#u13218-4
{
	z-index: 98;
	width: 346px;
	min-height: 27px;
	margin-right: -10000px;
	left: 654px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

