.html
{
	background: #BFBFBF url("../images/palouse%20falls%20_2.jpg") no-repeat left top fixed;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu549-3
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u549-3
{
	z-index: 2;
	width: 1160px;
	min-height: 193px;
	margin-right: -10000px;
}

#u76
{
	z-index: 5;
	width: 475px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 343px;
}

#menuu82
{
	z-index: 7;
	width: 920px;
	margin-right: -10000px;
	margin-top: 131px;
	left: 120px;
}

#u83
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
}

#u84
{
	width: 228px;
}

#u86-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
}

#u84:hover #u86-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u133
{
	width: 228px;
	min-height: 34px;
	margin-right: -10000px;
	left: 230px;
}

#u134
{
	width: 228px;
	padding-bottom: 17px;
}

#u134:hover
{
	margin: 0px;
}

#u135-4
{
	width: 228px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u84.MuseMenuActive #u86-4,#u134:hover #u135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u149
{
	width: 229px;
	min-height: 34px;
	margin-right: -10000px;
	left: 460px;
}

#u152
{
	width: 229px;
	padding-bottom: 17px;
}

#u134.MuseMenuActive,#u152.MuseMenuActive
{
	margin: 0px;
}

#u155-4
{
	width: 229px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u134.MuseMenuActive #u135-4,#u152:hover #u155-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	width: 229px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 691px;
}

#u167
{
	width: 229px;
}

#u168-4
{
	width: 229px;
	min-height: 17px;
	margin-right: -10000px;
}

#u152.MuseMenuActive #u155-4,#u167:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u167.MuseMenuActive #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#pppu485
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 67px;
	position: relative;
}

#ppu485
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#pu485
{
	z-index: 36;
	width: 0.01px;
	position: relative;
}

#u485
{
	z-index: 0;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu516-7
{
	width: 0.01px;
	position: relative;
	left: 9px;
	padding-top: 34px;
	z-index: 2;
	padding-bottom: 44px;
}

#u516-7
{
	z-index: 41;
	width: 413px;
	min-height: 118px;
	color: #603813;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u516-2
{
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

#u492
{
	z-index: 37;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	margin-top: 45px;
	position: relative;
}

#u492_img
{
	padding-right: 1px;
}

#u498
{
	z-index: 39;
	width: 445px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	margin-top: 45px;
	position: relative;
}

#pu513
{
	width: 0.01px;
	margin-bottom: -9px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u513
{
	z-index: 34;
	width: 431px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	background-color: transparent;
	position: relative;
}

#u486
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-top: 40px;
	position: relative;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

