.version.vibrant_expressions /* version checker */
{
	color: #000015;
	background-color: #FEBD94;
}

.html
{
	background-color: #E1E2EC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu8288
{
	width: 0.01px;
	padding-bottom: 40px;
	margin-right: -10000px;
	margin-top: -22px;
	margin-left: -100px;
}

#u8288
{
	z-index: 7;
	width: 730px;
	height: 34px;
	top: 15px;
	left: 0px;
}

#u8133-4
{
	z-index: 8;
	top: 20px;
	left: 35px;
}

#slideshowu8910
{
	z-index: 37;
	width: 0.01px;
	height: 413px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 20px;
}

#u8923
{
	position: absolute;
	width: 1475px;
	height: 891px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -143px;
	left: -951px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u8923popup
{
	z-index: 38;
}

#u9052
{
	z-index: 39;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9052_img
{
	margin: -35px 60px -35px 61px;
}

#u9179
{
	z-index: 41;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9179_img
{
	padding-left: 345px;
	padding-right: 344px;
}

#u9193
{
	z-index: 43;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9052_clip,#u9193_clip
{
	overflow: hidden;
	width: 1431px;
	height: 829px;
}

#u9193_img
{
	margin: -97px 375px -98px 374px;
}

#u9207
{
	z-index: 45;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9207_img
{
	padding-left: 436px;
	padding-right: 435px;
}

#u9221
{
	z-index: 47;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9221_img
{
	padding-left: 400px;
	padding-right: 400px;
}

#u9235
{
	z-index: 49;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9235_img
{
	padding-left: 282px;
	padding-right: 281px;
}

#u9249
{
	z-index: 51;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9249_img
{
	padding-left: 384px;
	padding-right: 384px;
}

#u9263
{
	z-index: 53;
	width: 1431px;
	height: 829px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u9263_img
{
	padding-left: 93px;
	padding-right: 93px;
}

#u8913
{
	position: absolute;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 27px;
}

#u8913popup
{
	z-index: 55;
}

#u9055
{
	z-index: 56;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u9182
{
	z-index: 58;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 270px;
}

#u9196
{
	z-index: 60;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 465px;
}

#u9210
{
	z-index: 62;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u9055:hover,#u9182:hover,#u9196:hover,#u9210:hover
{
	margin: 0px -10000px 0px 0px;
}

#u9224
{
	z-index: 64;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 75px;
}

#u9238
{
	z-index: 66;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 270px;
}

#u9238_img
{
	margin-left: -6px;
	margin-right: -6px;
}

#u9252
{
	z-index: 68;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 465px;
}

#u9238_clip,#u9252_clip
{
	overflow: hidden;
	width: 185px;
	height: 188px;
}

#u9252_img
{
	margin-top: -22px;
	margin-bottom: -21px;
}

#u9266
{
	z-index: 70;
	width: 185px;
	height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 660px;
}

#u9224:hover,#u9238:hover,#u9252:hover,#u9266:hover
{
	margin: 198px -10000px 0px 0px;
}

#u8911-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 412px;
	left: -951px;
}

#u8911-4popup
{
	z-index: 72;
}

#u8920-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 412px;
	left: 494px;
}

#u8920-4popup
{
	z-index: 76;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu8253
{
	z-index: 12;
	width: 416px;
	top: 15px;
	left: 314px;
}

#u8254
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
}

#u8257
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257:hover
{
	margin: 0px;
}

#u8257:active
{
	margin: 0px;
}

#u8260-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257:hover #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8257:active #u8260-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8261
{
	width: 102px;
	min-height: 34px;
	margin-right: -10000px;
	left: 104px;
}

#u8262
{
	width: 102px;
	padding-bottom: 17px;
}

#u8257.MuseMenuActive,#u8262:hover
{
	margin: 0px;
}

#u8262:active
{
	margin: 0px;
}

#u8265-4
{
	width: 102px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8257.MuseMenuActive #u8260-4,#u8262:hover #u8265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8262:active #u8265-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8275
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 208px;
}

#u8276
{
	width: 103px;
	padding-bottom: 17px;
}

#u8262.MuseMenuActive,#u8276:hover
{
	margin: 0px;
}

#u8276:active
{
	margin: 0px;
}

#u8277-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8262.MuseMenuActive #u8265-4,#u8276:hover #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8276:active #u8277-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8268
{
	width: 103px;
	min-height: 34px;
	margin-right: -10000px;
	left: 313px;
}

#u8271
{
	width: 103px;
	padding-bottom: 17px;
}

#u8276.MuseMenuActive,#u8271:hover
{
	margin: 0px;
}

#u8271:active
{
	margin: 0px;
}

#u8271.MuseMenuActive
{
	margin: 0px;
}

#u8272-4
{
	width: 103px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u8276.MuseMenuActive #u8277-4,#u8271:hover #u8272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8271:active #u8272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u8271.MuseMenuActive #u8272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u7352
{
	z-index: 2;
	width: 291px;
	min-height: 39px;
	margin-bottom: -38px;
	margin-right: -10000px;
	margin-top: 530px;
}

#u7366-4
{
	z-index: 3;
	width: 148px;
	min-height: 27px;
	margin-bottom: -30px;
	margin-right: -10000px;
	margin-top: 534px;
	left: 812px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -530px;
}

