.version.weavers__field /* version checker */
{
	color: #000017;
	background-color: #1414E0;
}

.html
{
	background-color: #A4CBCC;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 300px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#ppu11176
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: -36px;
	margin-left: -100px;
}

#pu11176
{
	width: 0.01px;
}

#u11176
{
	z-index: 45;
	width: 222px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 929px;
}

#u11178
{
	z-index: 46;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11177-4
{
	z-index: 47;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u12014
{
	z-index: 51;
	width: 222px;
	margin-right: -10000px;
	margin-top: 117px;
	left: 929px;
}

#u12015
{
	z-index: 52;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u12016-4
{
	z-index: 53;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10723-4
{
	z-index: 57;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 120px;
}

#u13326
{
	z-index: 78;
	min-height: 138px;
	padding-bottom: 54px;
}

#u13326_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u13328-4
{
	z-index: 88;
	width: 134px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 98px;
	left: 870px;
}

#u13326-bw
{
	z-index: 78;
	min-height: 138px;
}

#u13320
{
	z-index: 86;
	height: 106px;
	width: 106px;
	margin-right: -10000px;
	margin-top: 56px;
	left: 1022px;
}

#u13373
{
	z-index: 104;
	height: 94px;
	width: 309px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 100px;
}

#pu13427
{
	width: 0.01px;
	margin-left: 35px;
	margin-top: -5px;
}

#u13427
{
	z-index: 2;
	width: 1101px;
	height: 188px;
	margin-right: -10000px;
	margin-top: 315px;
}

.ie #u13427
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u10422
{
	z-index: 3;
	width: 222px;
	margin-right: -10000px;
	margin-top: 189px;
	left: 894px;
}

#u10424
{
	z-index: 4;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10423-4
{
	z-index: 5;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10425
{
	z-index: 9;
	width: 222px;
	margin-right: -10000px;
	margin-top: 145px;
	left: 894px;
}

#u10426
{
	z-index: 10;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10427-4
{
	z-index: 11;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10428
{
	z-index: 15;
	width: 222px;
	margin-right: -10000px;
	margin-top: 233px;
	left: 894px;
}

#u10430
{
	z-index: 16;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10429-4
{
	z-index: 17;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10431
{
	z-index: 21;
	width: 222px;
	margin-right: -10000px;
	margin-top: 277px;
	left: 894px;
}

#u10433
{
	z-index: 22;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10432-4
{
	z-index: 23;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10756
{
	z-index: 27;
	width: 222px;
	margin-right: -10000px;
	margin-top: 101px;
	left: 894px;
}

#u10757
{
	z-index: 28;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10758-4
{
	z-index: 29;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10847
{
	z-index: 33;
	width: 222px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 894px;
}

#u10849
{
	z-index: 34;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u10848-4
{
	z-index: 35;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u11022
{
	z-index: 39;
	width: 222px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 894px;
}

#u11023
{
	z-index: 40;
	width: 222px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u11024-4
{
	z-index: 41;
	width: 201px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 11px;
}

#u10724-15
{
	z-index: 61;
	width: 610px;
	min-height: 235px;
	background-color: transparent;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 85px;
}

#u10724-13
{
	color: #C69C6D;
}

#u10724-11
{
	color: #875E35;
	font-style: italic;
}

#u10724-2,#u10724-3,#u10724-5,#u10724-6,#u10724-8,#u10724-9,#u10724-10,#u10724-12
{
	color: #875E35;
}

#u10730
{
	z-index: 76;
	width: 639px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 73px;
}

#u13469-4
{
	z-index: 96;
	width: 346px;
	min-height: 27px;
	margin-bottom: -38px;
	margin-right: -10000px;
	margin-top: 982px;
}

#ppu13338
{
	width: 0.01px;
	margin: 899px -10000px -38px 654px;
}

#u13338
{
	z-index: 101;
	height: 94px;
	width: 309px;
}

#u13218-4
{
	z-index: 92;
	width: 346px;
	min-height: 27px;
	top: -11px;
	margin-bottom: -11px;
}

#pu13243
{
	width: 0.01px;
	margin: 899px -10000px -11px 1000px;
}

#u13243
{
	z-index: 79;
	width: 25px;
}

#u13255
{
	z-index: 81;
	width: 25px;
	margin-top: 4px;
}

#u13261
{
	z-index: 83;
	width: 25px;
	margin-top: 4px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -899px;
}

